Repository memgraph/memgraph, pull requests merged in 2024-11, with the labels that each got.

#2458 Bugfix: Misaligned metadata and query in logs
  src/query/interpreter.cpp
  tests/drivers/python/v5_8/metadata.py
Labels: bug, Docs unnecessary, CI -build=debug -test=integration

#2447 Bugfix: Deadlock when demoting data instance
  src/communication/server.hpp
  src/coordination/data_instance_management_server_handlers.cpp
  src/coordination/include/coordination/data_instance_management_server_handlers.hpp
  src/dbms/dbms_handler.cpp
  src/query/interpreter.cpp
  src/query/replication_query_handler.hpp
  src/replication/include/replication/replication_client.hpp
  src/replication/include/replication/state.hpp
  src/replication/replication_client.cpp
  src/replication/state.cpp
  src/replication_handler/include/replication_handler/replication_handler.hpp
  src/replication_handler/replication_handler.cpp
  src/rpc/client.hpp
  src/storage/v2/replication/replication_storage_state.cpp
  src/utils/scheduler.hpp
  src/utils/thread_pool.cpp
  tests/jepsen/src/memgraph/high_availability/create/test.clj
  tests/jepsen/src/memgraph/query.clj
Labels: bug, Docs - changelog only, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress

#2463 Fix crash in point function when wrong CRS is provided
  src/query/interpret/awesome_memgraph_functions.cpp
  tests/gql_behave/tests/memgraph_V1/features/spatial.feature
Labels: bug, Docs unnecessary

#2467 Handle failure in WAL replication
  .github/workflows/stress_jepsen.yaml
  src/coordination/coordinator_instance.cpp
  src/coordination/coordinator_instance_connector.cpp
  src/coordination/coordinator_instance_management_server_handlers.cpp
  src/dbms/inmemory/replication_handlers.cpp
  src/dbms/inmemory/replication_handlers.hpp
  src/query/interpreter.cpp
  src/replication_handler/include/replication_handler/replication_handler.hpp
  src/rpc/client.hpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  src/storage/v2/replication/replication_client.cpp
  src/storage/v2/replication/rpc.cpp
  src/storage/v2/replication/rpc.hpp
  tests/e2e/high_availability/distributed_coords.py
  tests/jepsen/src/memgraph/high_availability/create/test.clj
Labels: bug, Docs - changelog only, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2472 Support swapping uuid on main instances
  src/coordination/coordinator_instance.cpp
  src/coordination/data_instance_management_server_handlers.cpp
Labels: bug, Docs - changelog only, CI -build=jepsen -test=core, CI -build=release -test=e2e

#2474 Fix ordering in show instances
  .github/workflows/stress_jepsen.yaml
  src/coordination/coordinator_instance.cpp
Labels: bug, Docs - changelog only, CI -build=jepsen -test=core, CI -build=release -test=e2e

#2476 Align recovery timestamp check with timestamp modifications
  src/storage/v2/replication/replication_client.cpp
Labels: bug, Docs - changelog only, CI -build=jepsen -test=core, CI -build=release -test=stress

#2478 Bugfix: swapping UUID does not update durability nor active clients
  .github/workflows/stress_jepsen.yaml
  src/coordination/coordinator_instance.cpp
  src/coordination/coordinator_rpc.cpp
  src/coordination/data_instance_management_server_handlers.cpp
  src/coordination/include/coordination/coordinator_rpc.hpp
  src/coordination/include/coordination/data_instance_management_server_handlers.hpp
  src/coordination/include/coordination/replication_instance_client.hpp
  src/coordination/replication_instance_client.cpp
  src/coordination/replication_instance_connector.cpp
  src/replication_handler/include/replication_handler/replication_handler.hpp
  src/replication_handler/replication_handler.cpp
  tests/e2e/high_availability/CMakeLists.txt
  tests/e2e/high_availability/distributed_coords.py
  tests/e2e/high_availability/rpc_comm.cpp
Labels: bug, Docs - changelog only, CI -build=jepsen -test=core, CI -build=release -test=e2e

#2479 Remove HA from experimental
  src/flags/experimental.cpp
  src/flags/experimental.hpp
  src/query/interpreter.cpp
  tests/drivers/run_cluster.sh
  tests/e2e/configuration/default_config.py
  tests/e2e/high_availability/coord_cluster_registration.py
  tests/e2e/high_availability/coordinator.py
  tests/e2e/high_availability/disable_writing_on_main_after_restart.py
  tests/e2e/high_availability/distributed_coords.py
  tests/e2e/high_availability/manual_setting_replicas.py
  tests/e2e/high_availability/single_coordinator.py
  tests/jepsen/src/memgraph/support.clj
Labels: feature, Docs needed, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2454 Communication stack improvements
  src/communication/http/listener.hpp
  src/communication/http/server.hpp
  src/communication/v2/listener.hpp
  src/communication/v2/pool.hpp
  src/communication/v2/session.hpp
  src/communication/websocket/listener.cpp
  src/communication/websocket/listener.hpp
  src/communication/websocket/server.cpp
  src/communication/websocket/server.hpp
  src/glue/SessionHL.cpp
  src/query/plan/operator.cpp
  src/utils/memory_layout.hpp
  src/utils/small_vector.hpp
  tests/unit/monitoring.cpp
Labels: bug, Docs unnecessary, CI -build=coverage -test=core

#2406 Add vector search index MVP
  include/_mgp.hpp
  include/mg_exceptions.hpp
  include/mg_procedure.h
  include/mgp.hpp
  libs/CMakeLists.txt
  libs/setup.sh
  licenses/third-party/usearch/LICENSE
  query_modules/CMakeLists.txt
  query_modules/schema.cpp
  query_modules/text_search_module.cpp
  query_modules/vector_search_module.cpp
  src/flags/experimental.cpp
  src/flags/experimental.hpp
  src/memgraph.cpp
  src/mg_import_csv.cpp
  src/query/db_accessor.hpp
  src/query/exceptions.hpp
  src/query/procedure/fmt.hpp
  src/query/procedure/mg_procedure_impl.cpp
  src/query/procedure/py_module.cpp
  src/storage/v2/CMakeLists.txt
  src/storage/v2/disk/storage.cpp
  src/storage/v2/disk/storage.hpp
  src/storage/v2/durability/durability.cpp
  src/storage/v2/indices/indices.cpp
  src/storage/v2/indices/indices.hpp
  src/storage/v2/indices/vector_index.cpp
  src/storage/v2/indices/vector_index.hpp
  src/storage/v2/inmemory/label_property_index.cpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  src/storage/v2/storage.cpp
  src/storage/v2/storage.hpp
  src/storage/v2/transaction.hpp
  src/storage/v2/vertex.hpp
  tests/e2e/configuration/default_config.py
  tests/unit/CMakeLists.txt
  tests/unit/vector_index.cpp
Labels: Docs needed, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e, vector-search

#2482 Coordinator hostname must be set on coordinators
  src/memgraph.cpp
Labels: bug, Docs needed

#2485 Lock repl state before closing instance-level replication clients
  src/coordination/data_instance_management_server_handlers.cpp
  src/replication_handler/include/replication_handler/replication_handler.hpp
  src/replication_handler/replication_handler.cpp
Labels: bug, Docs - changelog only

#2487 Bugfix: Sending wrong RPC response for TimestampReq
  src/dbms/inmemory/replication_handlers.cpp
Labels: bug, Docs unnecessary

#2490 Increase running and recovery time for stress test
  .github/workflows/stress_jepsen.yaml
  tests/jepsen/src/memgraph/high_availability/create/test.clj
Labels: tests, Docs unnecessary

#2435 Extend periodic snapshot interface
  libs/CMakeLists.txt
  libs/setup.sh
  licenses/third-party/croncpp/LICENSE
  src/audit/log.cpp
  src/coordination/replication_instance_client.cpp
  src/flags/CMakeLists.txt
  src/flags/general.cpp
  src/flags/general.hpp
  src/flags/run_time_configurable.cpp
  src/flags/run_time_configurable.hpp
  src/license/license.cpp
  src/license/license_sender.cpp
  src/memgraph.cpp
  src/query/exceptions.hpp
  src/query/frontend/ast/ast.cpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/ast_visitor.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/cypher_main_visitor.hpp
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/frontend/opencypher/grammar/MemgraphCypherLexer.g4
  src/query/frontend/semantic/required_privileges.cpp
  src/query/frontend/stripped_lexer_constants.hpp
  src/query/interpreter.cpp
  src/query/time_to_live/time_to_live.cpp
  src/replication/include/replication/replication_client.hpp
  src/storage/v2/config.hpp
  src/storage/v2/durability/durability.hpp
  src/storage/v2/inmemory/snapshot_info.hpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  src/telemetry/telemetry.cpp
  src/utils/CMakeLists.txt
  src/utils/file_locker.cpp
  src/utils/file_locker.hpp
  src/utils/observer.hpp
  src/utils/scheduler.cpp
  src/utils/scheduler.hpp
  src/utils/temporal.cpp
  src/utils/temporal.hpp
  src/utils/typeinfo.hpp
  tests/e2e/configuration/default_config.py
  tests/e2e/durability/CMakeLists.txt
  tests/e2e/durability/periodic_snapshot.py
  tests/e2e/durability/snapshot_recovery.py
  tests/e2e/durability/workloads.yaml
  tests/unit/CMakeLists.txt
  tests/unit/cypher_main_visitor.cpp
  tests/unit/query_required_privileges.cpp
  tests/unit/storage_v2_durability_inmemory.cpp
  tests/unit/storage_v2_get_info.cpp
  tests/unit/utils_file_locker.cpp
  tests/unit/utils_observer.cpp
  tests/unit/utils_scheduler.cpp
  tests/unit/utils_temporal.cpp
Labels: feature, Docs needed

#2488 Added handling of double quotes in hiding password
  src/utils/logging.cpp
  tests/unit/utils_mask_sensitive_information.cpp
Labels: bug, Docs unnecessary, customer, CI -build=release -test=e2e

#2494 Better global settings error messages
  src/flags/log_level.cpp
  src/flags/log_level.hpp
  src/flags/run_time_configurable.cpp
  src/utils/settings.cpp
  src/utils/settings.hpp
  tests/integration/run_time_settings/runner.py
Labels: feature, Docs needed, breaking, CI -build=debug -test=integration

#2489 Compatibility bugfix for any, all, none, single
  libs/CMakeLists.txt
  src/communication/CMakeLists.txt
  src/csv/CMakeLists.txt
  src/query/interpret/awesome_memgraph_functions.cpp
  src/query/interpret/eval.hpp
  src/utils/CMakeLists.txt
  tests/e2e/monitoring_server/CMakeLists.txt
  tests/e2e/server/CMakeLists.txt
  tests/gql_behave/tests/memgraph_V1/features/functions.feature
  tests/gql_behave/tests/memgraph_V1_on_disk/features/functions.feature
  tests/unit/CMakeLists.txt
  tests/unit/query_expression_evaluator.cpp
Labels: bug, community, Docs needed, breaking, CI -build=community -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e

#2502 Add missing keyword in grammar
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/frontend/stripped_lexer_constants.hpp
Labels: bug, Docs - changelog only

#2497 Small optimisations
  CMakeLists.txt
  src/kvstore/kvstore.cpp
  src/kvstore/kvstore.hpp
  src/storage/v2/durability/marker.hpp
  src/storage/v2/durability/serialization.cpp
  src/storage/v2/durability/wal.cpp
  src/storage/v2/id_types.hpp
  src/storage/v2/inmemory/storage.cpp
  src/utils/file.cpp
  src/utils/skip_list.hpp
Labels: Docs unnecessary
