Repository memgraph/memgraph, pull requests merged in 2024-07, with the labels that each got.

#2152 Fix wrong SSO default values
  src/flags/auth.hpp
Labels: bug, Docs unnecessary

#2139 Improve driver tests
  .github/workflows/diff_debug.yaml
  tests/drivers/run_cluster.sh
Labels: bug, tests, Docs unnecessary, CI -build=debug -test=core

#2097 User changing its own password
  src/glue/auth_handler.cpp
  src/glue/auth_handler.hpp
  src/query/auth_query_handler.hpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/cypher_main_visitor.hpp
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/frontend/opencypher/grammar/MemgraphCypherLexer.g4
  src/query/interpreter.cpp
  tests/e2e/CMakeLists.txt
  tests/e2e/user_changing_its_own_password/CMakeLists.txt
  tests/e2e/user_changing_its_own_password/common.py
  tests/e2e/user_changing_its_own_password/user_changing_its_own_password.py
  tests/e2e/user_changing_its_own_password/workloads.yaml
Labels: feature, Docs needed, CI -build=release -test=e2e

#2135 Fix deadlock on force reset if all instances are down
  src/coordination/coordinator_instance.cpp
  tests/e2e/high_availability/distributed_coords.py
Labels: bug, Docs needed, CI -build=release -test=e2e

#2147 CI - promote rc to release
  .github/workflows/promote_rc_release.yml
Labels: Docs unnecessary

#2159 Run arm builds on github large runner
  .github/workflows/reusable_package.yaml
  libs/setup.sh
Labels: infrastructure, Docs unnecessary

#2125 Unique memory access for replicating auto-created indices
  src/rpc/version.hpp
  src/storage/v2/inmemory/storage.cpp
  tests/e2e/replication/indices.cpp
  tests/e2e/replication/workloads.yaml
Labels: bug, high-availability, Docs - changelog only

#2165 Deprecate amzn-2 and centos-7
  .github/workflows/package_memgraph.yaml
  .github/workflows/promote_rc_release.yml
  .github/workflows/release_build_test.yaml
  release/package/amd-builders-v4.yml
  release/package/amd-builders-v5.yml
  release/package/mgbuild.sh
Labels: Docs - changelog only

#2172 Update BSL license change date for v2.18.0
  licenses/BSL.txt
Labels: Docs unnecessary

#2171 Improve coordinator.py test
  tests/e2e/high_availability/coordinator.py
  tests/e2e/high_availability/distributed_coords.py
  tests/e2e/high_availability/workloads.yaml
  tests/e2e/memgraph.py
Labels: bug, tests, Docs unnecessary

#2170 Fix Jepsen HA bank test during initialize data
  tests/jepsen/src/jepsen/memgraph/habank.clj
Labels: bug, tests, Docs unnecessary

#2174 Add fixes for drivers
  tests/drivers/csharp/v4_1/ParallelEdgeImport/Program.cs
  tests/drivers/node/v4_1/parallel_edge_import.js
  tests/drivers/python/v4_1/parallel_edge_import.py
  tests/drivers/python/v5_8/parallel_edge_import.py
  tests/drivers/run.sh
  tests/drivers/run_v1.sh
Labels: bug, tests, Docs unnecessary, CI -build=debug -test=core

#2066 Observe current amount of deltas
  src/http_handlers/metrics.hpp
  src/query/interpreter.cpp
  src/storage/v2/disk/storage.cpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/mvcc.hpp
  src/storage/v2/storage.hpp
  src/utils/event_counter.cpp
  src/utils/event_counter.hpp
  tests/e2e/CMakeLists.txt
  tests/e2e/configuration/storage_info.py
  tests/e2e/observe_current_amount_of_deltas/CMakeLists.txt
  tests/e2e/observe_current_amount_of_deltas/common.py
  tests/e2e/observe_current_amount_of_deltas/conftest.py
  tests/e2e/observe_current_amount_of_deltas/observe_current_amount_of_deltas.py
  tests/e2e/observe_current_amount_of_deltas/workloads.yaml
Labels: feature, Docs needed, CI -build=release -test=e2e

#2168 Add integration tests to restore enum from wal and snapshot.
  src/query/dump.cpp
  src/storage/v2/durability/snapshot.cpp
  src/storage/v2/durability/version.hpp
  tests/integration/durability/tests/v18/test_all/create_dataset.cypher
  tests/integration/durability/tests/v18/test_all/expected_snapshot.cypher
  tests/integration/durability/tests/v18/test_all/expected_wal.cypher
  tests/integration/durability/tests/v18/test_all/snapshot.bin
  tests/integration/durability/tests/v18/test_all/wal.bin
Labels: bug, tests, Docs - changelog only, CI -build=debug -test=integration

#2187 Disable jepsen tests
  .github/workflows/diff.yaml
Labels: Docs unnecessary

#2180 e2e improvements
  src/coordination/replication_instance_client.cpp
  src/memgraph.cpp
  tests/e2e/high_availability/coordinator.py
Labels: bug, tests, Docs unnecessary, CI -build=release -test=e2e

#2185 Fix jepsen cluster build
  .github/workflows/diff.yaml
  tests/jepsen/0-3-5.patch
Labels: bug, Docs unnecessary, CI -build=jepsen -test=core

#2191 Handle bad_alloc being thrown by 3rd party code
  src/communication/bolt/v1/states/handlers.hpp
Labels: bug, Docs - changelog only

#2052 `SHOW METRICS INFO` via query
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/opencypher/grammar/Cypher.g4
  src/query/frontend/opencypher/grammar/MemgraphCypherLexer.g4
  src/query/frontend/semantic/required_privileges.cpp
  src/query/interpreter.cpp
  src/storage/v2/disk/storage.cpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/storage.cpp
  src/storage/v2/storage.hpp
  src/utils/event_gauge.cpp
  tests/e2e/CMakeLists.txt
  tests/e2e/show_metrics/CMakeLists.txt
  tests/e2e/show_metrics/common.py
  tests/e2e/show_metrics/show_metrics.py
  tests/e2e/show_metrics/workloads.yaml
Labels: feature, Docs needed, CI -build=debug -test=core, CI -build=release -test=e2e

#2189 Fix wrong handling of nuraft config logs in HA durability
  src/coordination/coordinator_log_store.cpp
  src/coordination/coordinator_state_machine.cpp
  src/coordination/include/nuraft/coordinator_log_store.hpp
  src/coordination/raft_state.cpp
  tests/e2e/high_availability/distributed_coords.py
  tests/unit/coordinator_log_store.cpp
  tests/unit/coordinator_raft_log_serialization.cpp
Labels: bug, Docs - changelog only

#2138 Introduce management servers on coordinators to get health state
  src/coordination/CMakeLists.txt
  src/coordination/coordination_observer.cpp
  src/coordination/coordinator_communication_config.cpp
  src/coordination/coordinator_instance.cpp
  src/coordination/coordinator_instance_client.cpp
  src/coordination/coordinator_instance_connector.cpp
  src/coordination/coordinator_instance_management_server.cpp
  src/coordination/coordinator_instance_management_server_handlers.cpp
  src/coordination/coordinator_rpc.cpp
  src/coordination/coordinator_state.cpp
  src/coordination/coordinator_state_machine.cpp
  src/coordination/coordinator_state_manager.cpp
  src/coordination/data_instance_management_server.cpp
  src/coordination/data_instance_management_server_handlers.cpp
  src/coordination/include/coordination/coordination_observer.hpp
  src/coordination/include/coordination/coordinator_communication_config.hpp
  src/coordination/include/coordination/coordinator_exceptions.hpp
  src/coordination/include/coordination/coordinator_instance.hpp
  src/coordination/include/coordination/coordinator_instance_client.hpp
  src/coordination/include/coordination/coordinator_instance_connector.hpp
  src/coordination/include/coordination/coordinator_instance_management_server.hpp
  src/coordination/include/coordination/coordinator_instance_management_server_handlers.hpp
  src/coordination/include/coordination/coordinator_rpc.hpp
  src/coordination/include/coordination/coordinator_slk.hpp
  src/coordination/include/coordination/coordinator_state.hpp
  src/coordination/include/coordination/data_instance_management_server.hpp
  src/coordination/include/coordination/data_instance_management_server_handlers.hpp
  src/coordination/include/coordination/raft_state.hpp
  src/coordination/include/nuraft/coordinator_state_manager.hpp
  src/coordination/raft_state.cpp
  src/flags/coord_flag_env_handler.cpp
  src/flags/coord_flag_env_handler.hpp
  src/memgraph.cpp
  src/query/interpreter.cpp
  src/query/interpreter.hpp
  src/replication/state.cpp
  src/replication_handler/include/replication_handler/replication_handler.hpp
  src/storage/v2/config.hpp
  src/storage/v2/replication/replication_client.cpp
  src/utils/typeinfo.hpp
  tests/drivers/run_cluster.sh
  tests/e2e/high_availability/coord_cluster_registration.py
  tests/e2e/high_availability/coordinator.py
  tests/e2e/high_availability/disable_writing_on_main_after_restart.py
  tests/e2e/high_availability/distributed_coords.py
  tests/e2e/high_availability/not_replicate_from_old_main.py
  tests/e2e/high_availability/single_coordinator.py
  tests/e2e/runner.py
  tests/jepsen/resources/cluster.edn
  tests/jepsen/src/jepsen/memgraph/haclient.clj
  tests/jepsen/src/jepsen/memgraph/support.clj
  tests/unit/coordinator_instance.cpp
  tests/unit/coordinator_raft_state.cpp
  tests/unit/coordinator_state_machine.cpp
  tests/unit/coordinator_state_manager.cpp
  tests/unit/coordinator_utils.cpp
Labels: feature, Docs needed, breaking

#2190 Fixed edge type property index lookup scan.
  src/query/plan/rewrite/edge_type_index_lookup.hpp
  tests/unit/query_plan.cpp
Labels: bug, Docs - changelog only

#2195 Fix issue in flaky HA test for SHOW REPLICAS output
  tests/e2e/high_availability/distributed_coords.py
Labels: tests, high-availability, Docs unnecessary, CI -build=release -test=e2e

#2198 Update package_memgraph workflow
  .github/workflows/package_memgraph.yaml
  .github/workflows/reusable_package.yaml
Labels: Docs unnecessary

#2200 Initialize development of flakiness check workflow
  .github/workflows/check_flakiness.yaml
Labels: Docs unnecessary

#2201 Add killing of random number of coordinator nodes
  tests/jepsen/src/jepsen/memgraph/core.clj
  tests/jepsen/src/jepsen/memgraph/habank.clj
  tests/jepsen/src/jepsen/memgraph/utils.clj
  tests/jepsen/test/jepsen/memgraph/memgraph_test.clj
Labels: tests, Docs unnecessary, CI -build=jepsen -test=core, CI -build=release -test=e2e

#2202 Add SHOW SCHEMA INFO grammar support
  src/query/frontend/ast/ast.cpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/ast_visitor.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/cypher_main_visitor.hpp
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/frontend/opencypher/grammar/MemgraphCypherLexer.g4
  src/query/frontend/semantic/required_privileges.cpp
  src/query/interpreter.cpp
  src/utils/typeinfo.hpp
  tests/gql_behave/tests/memgraph_V1/features/memgraph.feature
  tests/unit/cypher_main_visitor.cpp
Labels: feature, Docs unnecessary

#2203 Fix creation of management server in coordinators
  src/coordination/coordinator_instance.cpp
  src/coordination/coordinator_state_manager.cpp
  src/io/network/endpoint.cpp
  tests/jepsen/src/jepsen/memgraph/support.clj
Labels: bug, Docs - changelog only, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e

#2209 Fix compare_results script in mgbench
  tests/mgbench/compare_results.py
Labels: Docs unnecessary

#2207 Improve NuRaft configuration
  src/coordination/coordinator_state_manager.cpp
  src/coordination/raft_state.cpp
  tests/unit/coordinator_instance.cpp
Labels: bug, Docs needed, CI -build=release -test=core

#2199 Add workflow which checks Diff for flakiness
  .github/workflows/check_flakiness.yaml
  .github/workflows/diff_community.yaml
  .github/workflows/diff_coverage.yaml
  .github/workflows/diff_debug.yaml
  .github/workflows/diff_jepsen.yaml
  .github/workflows/diff_release.yaml
  tools/diff_setup.py
Labels: Docs unnecessary

#2156 Fix no leader found
  tests/e2e/high_availability/distributed_coords.py
Labels: bug, Docs unnecessary, CI -build=release -test=e2e

#2176 Query module improvements
  .github/workflows/diff_jepsen.yaml
  CMakeLists.txt
  include/mgp.hpp
  query_modules/CMakeLists.txt
  release/package/mgbuild.sh
  src/CMakeLists.txt
  src/query/CMakeLists.txt
  src/query/cypher_query_interpreter.cpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/semantic/required_privileges.cpp
  src/query/interpret/awesome_memgraph_functions.cpp
  src/query/interpret/awesome_memgraph_functions.hpp
  src/query/plan/operator.cpp
  src/query/procedure/callable_alias_mapper.cpp
  src/query/procedure/callable_alias_mapper.hpp
  src/query/procedure/module.cpp
  src/query/procedure/module.hpp
  src/query/procedure/module_fwd.hpp
  src/query/procedure/mpg_support.cpp
  src/query/stream/streams.cpp
  tests/jepsen/run.sh
  tests/unit/cpp_api.cpp
  tests/unit/cypher_main_visitor.cpp
Labels: bug, Docs needed, Code improvements, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2216 Remove benchmark job from flakiness checker
  .github/workflows/check_flakiness.yaml
Labels: Docs unnecessary

#2205 Fix DecodePropertyValueSize for enums
  src/storage/v2/property_store.cpp
Labels: bug, Docs - changelog only

#2223 Fix missing keywords detection in memgraph grammar
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/frontend/stripped_lexer_constants.hpp
Labels: bug, Docs unnecessary

#2225 Properly handle query module errors when shutting down
  src/memgraph.cpp
  src/query/procedure/module.cpp
Labels: bug, Docs unnecessary, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=benchmark

#2229 Fix promote to release workflow
  .github/workflows/promote_rc_release.yml
Labels: bug, Docs unnecessary

#2222 Fix insertion of data and NullPointerException
  tests/jepsen/src/jepsen/memgraph/habank.clj
Labels: tests, Docs unnecessary, CI -build=jepsen -test=core

#2224 Change nuRAFT response limit to respect leadership expiry
  src/coordination/raft_state.cpp
Labels: bug, high-availability, Docs - changelog only

#2215 Add nuraft log file and separate log file folder
  src/flags/log_level.hpp
  src/query/interpreter.cpp
  tests/e2e/high_availability/common.py
  tests/e2e/high_availability/coord_cluster_registration.py
  tests/e2e/high_availability/coordinator.py
  tests/e2e/high_availability/disable_writing_on_main_after_restart.py
  tests/e2e/high_availability/distributed_coords.py
  tests/e2e/high_availability/single_coordinator.py
  tests/e2e/interactive_mg_runner.py
  tests/e2e/mg_utils.py
Labels: high-availability, Docs unnecessary

#2221 Fix Jepsen upgrade
  tests/jepsen/src/jepsen/memgraph/support.clj
Labels: tests, Docs unnecessary, CI -build=jepsen -test=core

#2245 Temporarily disable benchmarks on diff workflow runs
  .github/workflows/diff.yaml
Labels: Docs unnecessary

#2213 Remove flaky coordinator unit tests
  tests/unit/coordinator_instance.cpp
  tests/unit/coordinator_raft_state.cpp
Labels: tests, Docs unnecessary

#2204 LocalDateTime does not convert user date to UTC properly
  src/audit/log.cpp
  src/communication/bolt/v1/encoder/base_encoder.hpp
  src/flags/run_time_configurable.cpp
  src/flags/run_time_configurable.hpp
  src/glue/communication.cpp
  src/query/interpret/awesome_memgraph_functions.cpp
  src/query/interpret/eval.hpp
  src/query/procedure/mg_procedure_impl.cpp
  src/query/procedure/py_module.cpp
  src/query/typed_value.cpp
  src/storage/v2/temporal.hpp
  src/utils/CMakeLists.txt
  src/utils/temporal.cpp
  src/utils/temporal.hpp
  tests/e2e/configuration/default_config.py
  tests/e2e/temporal_types/roundtrip.cpp
  tests/unit/CMakeLists.txt
  tests/unit/bolt_decoder.cpp
  tests/unit/bolt_encoder.cpp
  tests/unit/cpp_api.cpp
  tests/unit/query_dump.cpp
  tests/unit/query_expression_evaluator.cpp
  tests/unit/timezone_handler.hpp
  tests/unit/utils_temporal.cpp
Labels: bug, Docs needed, breaking, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=e2e

#2166 Fix user changing its own password when previously empty
  src/auth/models.cpp
  tests/unit/auth.cpp
Labels: bug, Docs unnecessary, customer, CI -build=release -test=e2e

#2247 Bugfix: HandleTimezone reusing same path in unit tests
  src/utils/tmp_dir.hpp
  tests/unit/timezone_handler.hpp
Labels: bug, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=debug -test=core, CI -build=release -test=core

#2236 Bugfix: SHOW REPLICAS returning empty map for data_info in community edition
  src/replication_handler/replication_handler.cpp
Labels: bug, Docs - changelog only, CI -build=release -test=e2e

#2242 Fix FastDiscardOfDeltas
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  tests/e2e/garbage_collection/CMakeLists.txt
  tests/e2e/garbage_collection/common.py
  tests/e2e/garbage_collection/gc_on_obsolete_indexes.py
  tests/e2e/garbage_collection/workloads.yaml
Labels: bug, Docs - changelog only, CI -build=coverage -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e
