Repository memgraph/memgraph, pull requests merged in 2024-10, with the labels that each got.

#2360 Fix txn handling
  src/rpc/client.hpp
  tests/jepsen/src/memgraph/high_availability/create/test.clj
  tests/jepsen/src/memgraph/query.clj
Labels: tests, Docs unnecessary, CI -build=jepsen -test=core, CI -build=release -test=e2e

#2364 Test network chaos in HA
  .github/workflows/stress_jepsen.yaml
  src/coordination/coordinator_instance.cpp
  tests/jepsen/src/memgraph/core.clj
  tests/jepsen/src/memgraph/high_availability/create/nemesis.clj
  tests/jepsen/src/memgraph/high_availability/create/test.clj
  tests/jepsen/src/memgraph/utils.clj
  tests/jepsen/test/memgraph/memgraph_test.clj
Labels: tests, high-availability, Docs unnecessary, jepsen

#2371 Add backticks around property keys in any {key: value} patterns
  import/n2mg_separate_files_cypherls.sh
Labels: bug, Docs unnecessary

#2388 Bugfix: Inconsistent storage UUID on replica
  src/dbms/inmemory/replication_handlers.cpp
  src/replication_handler/include/replication_handler/replication_handler.hpp
  src/storage/v2/durability/durability.cpp
  src/storage/v2/durability/durability.hpp
  src/storage/v2/durability/snapshot.cpp
  src/storage/v2/durability/snapshot.hpp
  src/storage/v2/durability/wal.cpp
  src/storage/v2/durability/wal.hpp
  src/storage/v2/inmemory/replication/recovery.cpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  src/storage/v2/replication/replication_client.hpp
  src/storage/v2/storage.hpp
  src/utils/uuid.cpp
  src/utils/uuid.hpp
  tests/unit/storage_v2_durability_inmemory.cpp
  tests/unit/storage_v2_wal_file.cpp
Labels: bug, Docs - changelog only, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress

#2361 Bugfix: Forcing streams and tll to stop before destroying InterpreterContext
  src/memgraph.cpp
  tests/unit/query_streams.cpp
  tests/unit/ttl.cpp
Labels: bug, Docs - changelog only, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=stress

#2390 Bugfix: Various issues with edge index
  src/dbms/inmemory/replication_handlers.cpp
  src/query/exceptions.hpp
  src/query/interpreter.cpp
  src/storage/v2/durability/durability.cpp
  src/storage/v2/durability/durability.hpp
  src/storage/v2/inmemory/edge_type_index.cpp
  src/storage/v2/inmemory/storage.cpp
  tests/unit/storage_v2_indices.cpp
Labels: bug, Docs - changelog only, CI -build=coverage -test=core, CI -build=debug -test=integration, CI -build=release -test=e2e

#2424 Compilation error if module tries to set mgp::memory
  include/mgp.hpp
  query_modules/example.cpp
  tests/e2e/memory/procedures/global_memory_limit_thread_proc.cpp
  tests/e2e/memory/procedures/query_memory_limit_proc_multi_thread.cpp
Labels: Docs needed, breaking, CI -build=coverage -test=core, CI -build=debug -test=integration, CI -build=release -test=e2e

#2421 Bugfix: Unify instance callbacks in HA
  .github/workflows/stress_jepsen.yaml
  src/coordination/CMakeLists.txt
  src/coordination/coordinator_cluster_state.cpp
  src/coordination/coordinator_instance.cpp
  src/coordination/coordinator_rpc.cpp
  src/coordination/coordinator_state_machine.cpp
  src/coordination/data_instance_management_server.cpp
  src/coordination/data_instance_management_server_handlers.cpp
  src/coordination/include/coordination/coordinator_instance.hpp
  src/coordination/include/coordination/coordinator_rpc.hpp
  src/coordination/include/coordination/coordinator_slk.hpp
  src/coordination/include/coordination/data_instance_management_server_handlers.hpp
  src/coordination/include/coordination/instance_state.hpp
  src/coordination/include/coordination/raft_state.hpp
  src/coordination/include/coordination/register_main_replica_coordinator_status.hpp
  src/coordination/include/coordination/replication_instance_client.hpp
  src/coordination/include/coordination/replication_instance_connector.hpp
  src/coordination/include/nuraft/coordinator_cluster_state.hpp
  src/coordination/include/nuraft/coordinator_state_machine.hpp
  src/coordination/raft_state.cpp
  src/coordination/replication_instance_client.cpp
  src/coordination/replication_instance_connector.cpp
  src/dbms/inmemory/replication_handlers.cpp
  src/query/interpreter.cpp
  src/replication/include/replication/epoch.hpp
  src/replication/include/replication/state.hpp
  src/replication_coordination_glue/messages.hpp
  src/replication_handler/include/replication_handler/replication_handler.hpp
  src/replication_handler/include/replication_handler/system_replication.hpp
  src/replication_handler/replication_handler.cpp
  src/storage/v2/replication/replication_client.cpp
  src/utils/typeinfo.hpp
  tests/e2e/high_availability/CMakeLists.txt
  tests/e2e/high_availability/common.py
  tests/e2e/high_availability/coord_cluster_registration.py
  tests/e2e/high_availability/distributed_coords.py
  tests/e2e/high_availability/not_replicate_from_old_main.py
  tests/e2e/high_availability/single_coordinator.py
  tests/e2e/high_availability/workloads.yaml
  tests/e2e/mg_utils.py
  tests/e2e/runner.py
  tests/jepsen/src/memgraph/core.clj
  tests/unit/CMakeLists.txt
  tests/unit/coordinator_cluster_state.cpp
  tests/unit/coordinator_instance.cpp
  tests/unit/coordinator_raft_state.cpp
  tests/unit/coordinator_utils.cpp
  tests/unit/replication_instance_connector.cpp
Labels: bug, Docs - changelog only, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2422 Bugfix: replication only partially reset storage
  src/dbms/inmemory/replication_handlers.cpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  src/storage/v2/schema_info.hpp
  src/utils/synchronized_metadata_store.hpp
Labels: bug, Docs - changelog only, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=integration, CI -build=release -test=e2e

#2404 Add query metadata when logging incoming query
  src/communication/bolt/v1/states/handlers.hpp
  src/glue/SessionHL.cpp
  src/query/interpreter.cpp
  src/query/interpreter.hpp
  src/storage/v2/property_value.hpp
  src/utils/logging.cpp
  src/utils/logging.hpp
  src/utils/string.hpp
  tests/drivers/python/v5_8/memgraph_utils.py
  tests/drivers/python/v5_8/metadata.py
  tests/drivers/python/v5_8/run.sh
  tests/unit/property_value_v2.cpp
Labels: feature, Docs - changelog only, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=benchmark

#2430 Bugfix: Use one type of Raft logs and remove distributed locks.
  .github/workflows/stress_jepsen.yaml
  src/coordination/CMakeLists.txt
  src/coordination/coordinator_cluster_state.cpp
  src/coordination/coordinator_instance.cpp
  src/coordination/coordinator_state_machine.cpp
  src/coordination/include/coordination/coordinator_exceptions.hpp
  src/coordination/include/coordination/coordinator_instance.hpp
  src/coordination/include/coordination/coordinator_rpc.hpp
  src/coordination/include/coordination/raft_state.hpp
  src/coordination/include/nuraft/coordinator_cluster_state.hpp
  src/coordination/include/nuraft/coordinator_state_machine.hpp
  src/coordination/include/nuraft/raft_log_action.hpp
  src/coordination/raft_state.cpp
  tests/e2e/high_availability/distributed_coords.py
  tests/e2e/high_availability/single_coordinator.py
  tests/unit/coordinator_cluster_state.cpp
  tests/unit/coordinator_log_store.cpp
  tests/unit/coordinator_raft_log_serialization.cpp
  tests/unit/coordinator_raft_state.cpp
  tests/unit/coordinator_state_machine.cpp
Labels: bug, Docs - changelog only, breaking, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e

#2444 Bugfix: duplicated get instance timestamp requests
  src/coordination/coordinator_cluster_state.cpp
  src/coordination/coordinator_instance.cpp
  src/coordination/coordinator_state_machine.cpp
  src/coordination/include/coordination/replication_instance_client.hpp
  src/coordination/include/coordination/replication_instance_connector.hpp
  src/coordination/include/nuraft/coordinator_cluster_state.hpp
  src/coordination/replication_instance_client.cpp
  src/coordination/replication_instance_connector.cpp
  tests/unit/coordinator_cluster_state.cpp
Labels: bug, Docs unnecessary, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress

#2446 Correct unreleased deltas counter
  src/storage/v2/inmemory/storage.cpp
Labels: bug, Docs - changelog only

#2439 Bugfix: Edge index doesn't remove deleted edges
  src/storage/v2/inmemory/edge_type_index.cpp
  src/storage/v2/inmemory/edge_type_property_index.cpp
  tests/unit/storage_v2_indices.cpp
Labels: bug, Docs - changelog only, CI -build=coverage -test=core, CI -build=debug -test=core

#2383 Schema info v2
  src/dbms/inmemory/replication_handlers.cpp
  src/query/interpreter.cpp
  src/storage/v2/durability/durability.cpp
  src/storage/v2/durability/durability.hpp
  src/storage/v2/durability/snapshot.cpp
  src/storage/v2/durability/snapshot.hpp
  src/storage/v2/durability/version.hpp
  src/storage/v2/durability/wal.cpp
  src/storage/v2/durability/wal.hpp
  src/storage/v2/edge_accessor.cpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/property_value.hpp
  src/storage/v2/schema_info.cpp
  src/storage/v2/schema_info.hpp
  src/storage/v2/schema_info_glue.hpp
  src/storage/v2/schema_info_types.hpp
  src/storage/v2/storage.cpp
  src/storage/v2/storage.hpp
  src/storage/v2/transaction.hpp
  src/storage/v2/vertex.hpp
  src/storage/v2/vertex_accessor.cpp
  src/utils/conccurent_unordered_map.hpp
  tests/e2e/transaction_rollback/procedures/procedures.cpp
  tests/unit/storage_test_utils.hpp
  tests/unit/storage_v2_durability_inmemory.cpp
  tests/unit/storage_v2_replication.cpp
  tests/unit/storage_v2_schema_info.cpp
Labels: tech debt, Docs needed, CI -build=coverage -test=core, CI -build=debug -test=integration, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2452 Bugfix: Incorrect usage of cv and stop token in scheduler and thread pool
  src/utils/scheduler.hpp
  src/utils/thread_pool.cpp
  src/utils/thread_pool.hpp
Labels: bug, Docs - changelog only, CI -build=coverage -test=core, CI -build=debug -test=core

#2362 Planner to replace point.distance filter with index scan
  src/query/CMakeLists.txt
  src/query/db_accessor.hpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/cypher_main_visitor.hpp
  src/query/frontend/opencypher/parser.hpp
  src/query/interpreter.cpp
  src/query/plan/hint_provider.hpp
  src/query/plan/operator.cpp
  src/query/plan/operator.hpp
  src/query/plan/operator_type_info.cpp
  src/query/plan/point_distance_condition.hpp
  src/query/plan/preprocess.cpp
  src/query/plan/preprocess.hpp
  src/query/plan/pretty_print.cpp
  src/query/plan/pretty_print.hpp
  src/query/plan/rewrite/edge_index_lookup.hpp
  src/query/plan/rewrite/index_lookup.hpp
  src/query/plan/rewrite/join.hpp
  src/query/plan/vertex_count_cache.hpp
  src/storage/v2/CMakeLists.txt
  src/storage/v2/disk/storage.cpp
  src/storage/v2/disk/storage.hpp
  src/storage/v2/indices/point_index.cpp
  src/storage/v2/indices/point_index.hpp
  src/storage/v2/indices/point_index_change_collector.cpp
  src/storage/v2/indices/point_index_change_collector.hpp
  src/storage/v2/indices/point_index_expensive_header.hpp
  src/storage/v2/indices/point_iterator.cpp
  src/storage/v2/indices/point_iterator.hpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  src/storage/v2/point.hpp
  src/storage/v2/point_functions.cpp
  src/storage/v2/storage.cpp
  src/storage/v2/storage.hpp
  src/storage/v2/transaction.hpp
  src/utils/event_counter.cpp
  src/utils/typeinfo.hpp
  tests/e2e/query_planning/CMakeLists.txt
  tests/e2e/query_planning/query_planning_point_index.py
  tests/e2e/query_planning/workloads.yaml
  tests/e2e/replication/replicate_spatial_feature.py
  tests/e2e/show_metrics/show_metrics.py
  tests/gql_behave/steps/query.py
  tests/gql_behave/tests/memgraph_V1/features/memgraph.feature
  tests/gql_behave/tests/memgraph_V1/features/memgraph_bfs.feature
  tests/gql_behave/tests/memgraph_V1/features/spatial.feature
  tests/gql_behave/tests/memgraph_V1/graphs/graph_index.cypher
  tests/manual/interactive_planning.cpp
  tests/unit/cypher_main_visitor.cpp
  tests/unit/query_plan_checker.hpp
  tests/unit/storage_v2_durability_inmemory.cpp
Labels: feature, Docs needed, geospatial
