Repository memgraph/memgraph, pull requests merged in 2024-12, with the labels that each got.

#2515 Bugfix: Fix deadlock by releasing RPC lock before acquiring engine lock
  .github/workflows/stress_jepsen.yaml
  src/storage/v2/replication/replication_client.cpp
Labels: bug, Docs - changelog only, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2517 Refactor WalDeltaData
  src/dbms/inmemory/replication_handlers.cpp
  src/storage/v2/durability/version.hpp
  src/storage/v2/durability/wal.cpp
  src/storage/v2/durability/wal.hpp
  src/storage/v2/id_types.hpp
  src/storage/v2/inmemory/storage.hpp
  tests/unit/storage_v2_durability_inmemory.cpp
  tests/unit/storage_v2_wal_file.cpp
Labels: Docs unnecessary

#2521 Bugfix: Concurrent recovery and promotion crash database
  src/replication/include/replication/replication_server.hpp
  src/replication/include/replication/state.hpp
  src/replication/replication_server.cpp
  src/replication_handler/replication_handler.cpp
Labels: bug, Docs - changelog only

#2523 Update librdkafka version
  libs/setup.sh
  tests/unit/mgp_kafka_c_api.cpp
Labels: Docs unnecessary, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e

#2526 Add SHOW INSTANCE coordinator query
  src/coordination/coordinator_instance.cpp
  src/coordination/coordinator_state.cpp
  src/coordination/coordinator_state_manager.cpp
  src/coordination/include/coordination/coordinator_instance.hpp
  src/coordination/include/coordination/coordinator_state.hpp
  src/coordination/include/coordination/raft_state.hpp
  src/coordination/include/nuraft/coordinator_state_manager.hpp
  src/coordination/raft_state.cpp
  src/dbms/coordinator_handler.cpp
  src/dbms/coordinator_handler.hpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/cypher_main_visitor.hpp
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/interpreter.cpp
  src/query/interpreter.hpp
  tests/e2e/high_availability/distributed_coords.py
  tests/unit/cypher_main_visitor.cpp
  tests/unit/query_required_privileges.cpp
Labels: feature, Docs needed, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2536 Fix after commit triggers bug
  src/query/interpreter.cpp
Labels: bug, community, Docs - changelog only, CI -build=community -test=core, CI -build=release -test=core, CI -build=release -test=e2e

#2533 Add a query for removing coordinators
  src/coordination/coordinator_instance.cpp
  src/coordination/coordinator_state.cpp
  src/coordination/include/coordination/coordinator_exceptions.hpp
  src/coordination/include/coordination/coordinator_instance.hpp
  src/coordination/include/coordination/coordinator_state.hpp
  src/coordination/include/coordination/raft_state.hpp
  src/coordination/include/coordination/register_main_replica_coordinator_status.hpp
  src/coordination/raft_state.cpp
  src/dbms/coordinator_handler.cpp
  src/dbms/coordinator_handler.hpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/cypher_main_visitor.hpp
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/interpreter.cpp
  src/query/interpreter.hpp
  src/query/metadata.cpp
  src/query/metadata.hpp
  tests/e2e/high_availability/coord_cluster_registration.py
  tests/unit/cypher_main_visitor.cpp
Labels: feature, Docs needed, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2535 Prevent server crash
  src/query/plan/planner.hpp
Labels: bug, Docs - changelog only

#2537 Bugfix: MATCH is not allowed in the query containing CALL subquery
  src/query/plan/planner.hpp
  src/query/plan/rule_based_planner.hpp
  src/query/plan/variable_start_planner.cpp
  src/query/plan/variable_start_planner.hpp
  tests/gql_behave/tests/memgraph_V1/features/subqueries.feature
Labels: bug, Docs - changelog only, CI -build=debug -test=integration

#2544 Bugfix: Incorrect unreleased delta counter metrics after abort
  src/storage/v2/delta_container.hpp
  src/storage/v2/disk/storage.cpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/mvcc.hpp
  tests/e2e/observe_current_amount_of_deltas/observe_current_amount_of_deltas.py
  tests/e2e/observe_current_amount_of_deltas/workloads.yaml
Labels: bug, Docs - changelog only, CI -build=release -test=e2e

#2519 SkipListGc fixes
  src/query/trigger.hpp
  src/utils/rw_spin_lock.hpp
  src/utils/skip_list.hpp
  src/utils/spin_lock.hpp
Labels: bug, Docs unnecessary, CI -build=release -test=benchmark

#2547 Update error message for unloading query modules
  src/query/procedure/module.cpp
Labels: bug, Docs needed, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2539 Fix subtle memory leak around AsyncTimer
  src/storage/v2/inmemory/storage.cpp
  src/utils/async_timer.cpp
Labels: bug, Docs - changelog only, CI -build=community -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e

#2552 Bugfix: Replica should ignore old WAL data
  src/dbms/inmemory/replication_handlers.cpp
  src/storage/v2/replication/replication_client.cpp
Labels: bug, Docs - changelog only, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2551 Bugfix: Insert new batch of nodes within one txn
  .github/workflows/stress_jepsen.yaml
  tests/jepsen/src/memgraph/high_availability/create/test.clj
  tests/jepsen/src/memgraph/query.clj
Labels: tests, Docs unnecessary, CI -build=jepsen -test=core

#2546 Use partial function application in e2e HA tests
  tests/e2e/high_availability/common.py
  tests/e2e/high_availability/coord_cluster_registration.py
  tests/e2e/high_availability/coordinator.py
  tests/e2e/high_availability/disable_writing_on_main_after_restart.py
  tests/e2e/high_availability/distributed_coords.py
  tests/e2e/high_availability/single_coordinator.py
Labels: tests, Docs unnecessary

#2550 Fix match after call not being able to execute a valid plan
  src/query/plan/preprocess.cpp
  tests/gql_behave/tests/memgraph_V1/features/subqueries.feature
Labels: bug, community, Ready for review, Docs - changelog only, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2559 Fix convert.str2object to work for primitives
  include/mgp.hpp
  query_modules/convert.cpp
  tests/e2e/query_modules/convert_test.py
Labels: bug, Ready for review, Docs - changelog only, customer, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress

#2555 Add SHOW LICENSE INFO query
  src/dbms/replication_handlers.cpp
  src/flags/run_time_configurable.cpp
  src/http_handlers/metrics.hpp
  src/license/license.cpp
  src/license/license.hpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/opencypher/grammar/Cypher.g4
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/frontend/opencypher/grammar/MemgraphCypherLexer.g4
  src/query/frontend/semantic/required_privileges.cpp
  src/query/interpreter.cpp
  src/replication_handler/system_replication.cpp
  tests/e2e/CMakeLists.txt
  tests/e2e/show_license_info/CMakeLists.txt
  tests/e2e/show_license_info/common.py
  tests/e2e/show_license_info/test_show_license_info.py
  tests/e2e/show_license_info/workloads.yaml
  tests/unit/license.cpp
Labels: feature, Docs needed, customer, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress
