Repository memgraph/memgraph, pull requests merged in 2024-06, with the labels that each got.

#2076 Jepsen improvements (vol.2)
  tests/jepsen/src/jepsen/memgraph/bank.clj
  tests/jepsen/src/jepsen/memgraph/core.clj
  tests/jepsen/src/jepsen/memgraph/habank.clj
  tests/jepsen/src/jepsen/memgraph/large.clj
  tests/jepsen/src/jepsen/memgraph/utils.clj
Labels: tests, Docs unnecessary, CI -build=jepsen -test=core

#2085 Update e2e CI build
  tests/e2e/fine_grained_access/workloads.yaml
Labels: Docs unnecessary, CI -build=release -test=e2e

#2069 Rewrite flaky gc periodic test
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  tests/e2e/garbage_collection/CMakeLists.txt
  tests/e2e/garbage_collection/common.py
  tests/e2e/garbage_collection/conftest.py
  tests/e2e/garbage_collection/gc_periodic.py
  tests/e2e/garbage_collection/periodic.cpp
  tests/e2e/garbage_collection/workloads.yaml
Labels: tests, Docs unnecessary, CI -build=coverage -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e

#2084 Add NuRaft logs
  src/coordination/CMakeLists.txt
  src/coordination/coordinator_instance.cpp
  src/coordination/coordinator_log_store.cpp
  src/coordination/coordinator_state_machine.cpp
  src/coordination/coordinator_state_manager.cpp
  src/coordination/include/coordination/coordinator_communication_config.hpp
  src/coordination/include/coordination/raft_state.hpp
  src/coordination/include/nuraft/coordinator_state_machine.hpp
  src/coordination/include/nuraft/coordinator_state_manager.hpp
  src/coordination/include/nuraft/log_level.hpp
  src/coordination/include/nuraft/logger.hpp
  src/coordination/include/nuraft/logger_wrapper.hpp
  src/coordination/logger.cpp
  src/coordination/logger_wrapper.cpp
  src/coordination/raft_state.cpp
  src/flags/coordination.cpp
  src/flags/coordination.hpp
  src/memgraph.cpp
  tests/e2e/configuration/default_config.py
  tests/unit/coordinator_state_manager.cpp
Labels: feature, Docs needed, CI -build=jepsen -test=core, CI -build=release -test=core, CI -build=release -test=e2e

#2086 Improve txn isolation level tests
  tests/manual/test_isolation_level.py
Labels: feature, tests, Docs needed, CI -build=release -test=core

#2100 Fail starting coordinator with invalid config options for health pings
  src/memgraph.cpp
Labels: feature, Docs needed

#2109 Fix Jepsen setup failing because of openjdk-21-jdk-headless
  tests/jepsen/0-3-5.patch
  tests/jepsen/run.sh
Labels: bug, Docs unnecessary, CI -build=jepsen -test=core

#2105 Update Jepsen ports
  tests/jepsen/resources/cluster.edn
Labels: feature, Docs unnecessary

#2107 Run clang tidy in parallel
  .github/workflows/diff.yaml
  .github/workflows/diff_coverage.yaml
  release/package/mgbuild.sh
Labels: Docs unnecessary, CI -build=coverage -test=core

#2106 Experimental-enabled flag improvements
  src/flags/experimental.cpp
  src/flags/experimental.hpp
  src/flags/log_level.cpp
  src/memgraph.cpp
Labels: feature, Docs - changelog only, CI -build=release -test=core, CI -build=release -test=e2e

#2115 Ensure headers exist for clang-tidy analysis
  CMakeLists.txt
  release/package/mgbuild.sh
Labels: infrastructure

#2113 Add NuRaft log file env variable
  src/flags/coord_flag_env_handler.cpp
  src/flags/coord_flag_env_handler.hpp
  src/memgraph.cpp
  tests/unit/CMakeLists.txt
  tests/unit/coordinator_cluster_state.cpp
  tests/unit/coordinator_env_flag_handler.cpp
Labels: feature, Docs needed, CI -build=release -test=core, CI -build=release -test=e2e

#2120 Add more targets for clang-tidy CI
  CMakeLists.txt
Labels: infrastructure, Docs unnecessary

#2126 Add leader/follower role in show instances output
  src/coordination/coordinator_instance.cpp
  src/coordination/include/coordination/raft_state.hpp
  src/coordination/raft_state.cpp
  tests/e2e/high_availability/coord_cluster_registration.py
  tests/e2e/high_availability/coordinator.py
  tests/e2e/high_availability/disable_writing_on_main_after_restart.py
  tests/e2e/high_availability/distributed_coords.py
  tests/e2e/high_availability/not_replicate_from_old_main.py
  tests/e2e/high_availability/single_coordinator.py
  tests/e2e/mg_utils.py
  tests/jepsen/src/jepsen/memgraph/habank.clj
  tests/jepsen/test/jepsen/memgraph/memgraph_test.clj
Labels: documentation, feature, CI -build=jepsen -test=core

#2128 Move paths-ignore logic from diff.yaml to tools/diff_setup.py
  .github/workflows/diff.yaml
  tools/diff_setup.py
Labels: Docs unnecessary

#2127 New PR template
  .github/pull_request_template.md
Labels: Docs unnecessary

#2029 Add coordinator durability
  CMakeLists.txt
  src/coordination/CMakeLists.txt
  src/coordination/coordinator_cluster_state.cpp
  src/coordination/coordinator_log_store.cpp
  src/coordination/coordinator_server.cpp
  src/coordination/coordinator_state.cpp
  src/coordination/coordinator_state_machine.cpp
  src/coordination/coordinator_state_manager.cpp
  src/coordination/include/coordination/coordinator_communication_config.hpp
  src/coordination/include/coordination/coordinator_exceptions.hpp
  src/coordination/include/coordination/raft_state.hpp
  src/coordination/include/nuraft/constants_log_durability.hpp
  src/coordination/include/nuraft/coordinator_cluster_state.hpp
  src/coordination/include/nuraft/coordinator_log_store.hpp
  src/coordination/include/nuraft/coordinator_state_machine.hpp
  src/coordination/include/nuraft/coordinator_state_manager.hpp
  src/coordination/include/utils.hpp
  src/coordination/raft_state.cpp
  src/coordination/utils.cpp
  src/flags/coord_flag_env_handler.cpp
  src/flags/coord_flag_env_handler.hpp
  src/flags/coordination.cpp
  src/flags/coordination.hpp
  src/kvstore/kvstore.cpp
  src/kvstore/kvstore.hpp
  src/memgraph.cpp
  tests/e2e/configuration/default_config.py
  tests/e2e/high_availability/distributed_coords.py
  tests/e2e/mg_utils.py
  tests/unit/CMakeLists.txt
  tests/unit/coordinator_cluster_state.cpp
  tests/unit/coordinator_env_flag_handler.cpp
  tests/unit/coordinator_instance.cpp
  tests/unit/coordinator_log_store.cpp
  tests/unit/coordinator_raft_state.cpp
  tests/unit/coordinator_state_machine.cpp
  tests/unit/coordinator_state_manager.cpp
  tests/unit/coordinator_utils.cpp
Labels: feature, Docs needed, breaking, CI -build=coverage -test=core

#1990 Add support for SSO modules
  src/auth/auth.cpp
  src/auth/auth.hpp
  src/auth/module.cpp
  src/auth/module.hpp
  src/communication/bolt/v1/session.hpp
  src/communication/bolt/v1/states/init.hpp
  src/flags/CMakeLists.txt
  src/flags/all.hpp
  src/flags/auth.cpp
  src/flags/auth.hpp
  src/flags/general.cpp
  src/flags/general.hpp
  src/glue/SessionHL.cpp
  src/glue/SessionHL.hpp
  src/glue/auth_handler.cpp
  src/query/stream/streams.cpp
  src/query/trigger.cpp
  src/query/trigger.hpp
  tests/e2e/CMakeLists.txt
  tests/e2e/configuration/default_config.py
  tests/e2e/interactive_mg_runner.py
  tests/e2e/memgraph.py
  tests/e2e/sso/CMakeLists.txt
  tests/e2e/sso/dummy_sso_module.py
  tests/e2e/sso/test_sso.py
  tests/e2e/sso/workloads.yaml
  tests/integration/ldap/runner.py
  tests/setup.sh
  tests/unit/bolt_session.cpp
Labels: feature, Ready for review, enterprise, Docs needed, CI -build=coverage -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e

#2114 Deduplicate label filters
  src/query/plan/preprocess.cpp
Labels: bug, Docs - changelog only

#2067 Enable monitoring at runtime
  src/http_handlers/metrics.hpp
  src/memgraph.cpp
Labels: bug, Docs needed

#2131 Add coordinator hostname config
  src/coordination/coordinator_communication_config.cpp
  src/coordination/coordinator_instance.cpp
  src/coordination/coordinator_state_manager.cpp
  src/coordination/include/coordination/coordinator_communication_config.hpp
  src/coordination/raft_state.cpp
  src/flags/coord_flag_env_handler.cpp
  src/flags/coord_flag_env_handler.hpp
  src/flags/coordination.cpp
  src/flags/coordination.hpp
  src/memgraph.cpp
  src/query/interpreter.cpp
  tests/drivers/run_cluster.sh
  tests/e2e/configuration/default_config.py
  tests/e2e/high_availability/coord_cluster_registration.py
  tests/e2e/high_availability/coordinator.py
  tests/e2e/high_availability/disable_writing_on_main_after_restart.py
  tests/e2e/high_availability/distributed_coords.py
  tests/e2e/high_availability/manual_setting_replicas.py
  tests/e2e/high_availability/not_replicate_from_old_main.py
  tests/e2e/high_availability/single_coordinator.py
  tests/e2e/high_availability/workloads.yaml
  tests/jepsen/src/jepsen/memgraph/support.clj
  tests/unit/coordinator_env_flag_handler.cpp
  tests/unit/coordinator_instance.cpp
  tests/unit/coordinator_raft_state.cpp
  tests/unit/coordinator_state_machine.cpp
  tests/unit/coordinator_state_manager.cpp
  tests/unit/coordinator_utils.cpp
Labels: feature, Docs needed, breaking, CI -build=debug -test=core

#1924 Filter embedding after Cartesian operator
  src/query/plan/rewrite/index_lookup.hpp
  tests/e2e/query_planning/CMakeLists.txt
  tests/e2e/query_planning/query_planning_cartesian.py
Labels: Docs - changelog only, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2055 Unify and embed multiple filters that operate on the same property
  src/query/CMakeLists.txt
  src/query/frontend/ast/ast.cpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/ast_visitor.hpp
  src/query/frontend/ast/pretty_print.cpp
  src/query/frontend/semantic/symbol_generator.hpp
  src/query/interpret/eval.hpp
  src/query/plan/preprocess.cpp
  src/query/plan/preprocess.hpp
  src/query/plan/rewrite/edge_type_index_lookup.hpp
  src/query/plan/rewrite/enum.hpp
  src/query/plan/rewrite/general.cpp
  src/query/plan/rewrite/general.hpp
  src/query/plan/rewrite/index_lookup.cpp
  src/query/plan/rewrite/index_lookup.hpp
  src/query/plan/rewrite/join.hpp
  src/query/plan/rewrite/range.cpp
  src/query/plan/rewrite/range.hpp
  src/query/plan/rule_based_planner.cpp
  src/query/plan/rule_based_planner.hpp
  src/utils/typeinfo.hpp
  tests/e2e/filter_info/filter_info.py
  tests/unit/query_common.hpp
  tests/unit/query_plan.cpp
Labels: Docs - changelog only, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2132 SHOW CURRENT USER query
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/cypher_main_visitor.hpp
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/frontend/opencypher/grammar/MemgraphCypherLexer.g4
  src/query/interpreter.cpp
  tests/e2e/CMakeLists.txt
  tests/e2e/auth/CMakeLists.txt
  tests/e2e/auth/auth_queries.py
  tests/e2e/auth/common.py
  tests/e2e/auth/workloads.yaml
  tests/e2e/authentication_if_not_exists/CMakeLists.txt
  tests/e2e/authentication_if_not_exists/workloads.yaml
  tests/e2e/sso/test_sso.py
  tests/unit/cypher_main_visitor.cpp
Labels: feature, community, Ready for review, Docs needed, CI -build=coverage -test=core, CI -build=release -test=e2e

#2095 Exclude constants from grouping keys
  src/query/plan/rule_based_planner.cpp
  tests/gql_behave/tests/memgraph_V1/features/aggregations.feature
  tests/gql_behave/tests/memgraph_V1_on_disk/features/aggregations.feature
  tests/unit/query_plan.cpp
  tests/unit/query_plan_checker.hpp
Labels: bug, Ready for review, Docs - changelog only, CI -build=community -test=core, CI -build=debug -test=core, CI -build=release -test=core

#2134 Test even number coords
  tests/e2e/high_availability/distributed_coords.py
Labels: Docs unnecessary

#2142 Fix test instance_1 or instance_2 main
  tests/e2e/high_availability/distributed_coords.py
  tests/e2e/mg_utils.py
Labels: bug, tests, Docs unnecessary, CI -build=release -test=e2e

#2143 Add RelWithDebInfo builds and refactor workflow
  .github/workflows/release_build_test.yaml
Labels: Docs unnecessary

#2146 Fix Enum marker values
  src/storage/v2/durability/marker.hpp
Labels: Docs unnecessary

#2129 Introduce pmr::PropertyValue
  src/glue/SessionHL.cpp
  src/glue/communication.cpp
  src/mg_import_csv.cpp
  src/query/cypher_query_interpreter.hpp
  src/query/frontend/ast/pretty_print.cpp
  src/query/interpreter.cpp
  src/query/interpreter.hpp
  src/query/procedure/mg_procedure_impl.cpp
  src/query/serialization/property_value.cpp
  src/query/serialization/property_value.hpp
  src/query/stream/streams.cpp
  src/query/trigger.cpp
  src/query/trigger.hpp
  src/query/typed_value.cpp
  src/slk/serialization.hpp
  src/storage/v2/constraint_verification_info.hpp
  src/storage/v2/delta.hpp
  src/storage/v2/disk/storage.cpp
  src/storage/v2/durability/serialization.cpp
  src/storage/v2/indices/indices_utils.hpp
  src/storage/v2/inmemory/label_property_index.cpp
  src/storage/v2/property_store.cpp
  src/storage/v2/property_value.hpp
  src/storage/v2/replication/slk.cpp
  src/storage/v2/vertex_info_cache.hpp
  tests/unit/interpreter.cpp
  tests/unit/interpreter_faker.hpp
  tests/unit/property_value_v2.cpp
  tests/unit/query_dump.cpp
  tests/unit/query_pretty_print.cpp
  tests/unit/query_serialization_property_value.cpp
  tests/unit/query_trigger.cpp
  tests/unit/slk_advanced.cpp
  tests/unit/storage_v2_decoder_encoder.cpp
  tests/unit/storage_v2_indices.cpp
  tests/unit/storage_v2_property_store.cpp
Labels: Docs unnecessary

#2150 Fix name of docker image from memgraph to memgraph/memgraph
  release/docker/package_docker
Labels: Docs unnecessary

#1928 Limit number of hops
  src/flags/run_time_configurable.cpp
  src/flags/run_time_configurable.hpp
  src/query/context.hpp
  src/query/db_accessor.hpp
  src/query/frontend/ast/ast.cpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/cypher_main_visitor.hpp
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/frontend/opencypher/grammar/MemgraphCypherLexer.g4
  src/query/hops_limit.hpp
  src/query/interpret/eval.cpp
  src/query/interpret/eval.hpp
  src/query/interpreter.cpp
  src/query/plan/operator.cpp
  src/query/plan/planner.hpp
  src/storage/v2/disk/storage.cpp
  src/storage/v2/disk/storage.hpp
  src/storage/v2/vertex_accessor.cpp
  src/storage/v2/vertex_accessor.hpp
  src/utils/typeinfo.hpp
  tests/e2e/CMakeLists.txt
  tests/e2e/configuration/default_config.py
  tests/e2e/hops_count/CMakeLists.txt
  tests/e2e/hops_count/hops_count.py
  tests/e2e/hops_count/workloads.yaml
  tests/e2e/hops_limit/CMakeLists.txt
  tests/gql_behave/tests/memgraph_V1/features/hops_limit.feature
  tests/gql_behave/tests/memgraph_V1/graphs/simple_binary_tree.cypher
  tests/gql_behave/tests/stackoverflow_answers/features/wsp.feature
Labels: feature, Docs needed, customer, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=benchmark

#1916 Remove old flags
  config/flags.yaml
  src/auth/auth.cpp
  src/flags/general.cpp
  src/flags/general.hpp
  src/glue/SessionHL.cpp
  src/memgraph.cpp
  src/query/plan/preprocess.cpp
  src/query/plan/preprocess.hpp
  src/query/plan/rewrite/edge_type_index_lookup.hpp
  src/query/plan/rewrite/index_lookup.hpp
  src/query/plan/rewrite/join.hpp
  src/query/plan/rule_based_planner.hpp
  src/storage/v2/config.hpp
  src/storage/v2/durability/durability.cpp
  tests/e2e/high_availability/coord_cluster_registration.py
  tests/e2e/high_availability/single_coordinator.py
  tests/integration/durability/runner.py
  tests/integration/mg_import_csv/runner.py
  tests/integration/storage_mode/runner.py
  tests/jepsen/src/jepsen/memgraph/support.clj
  tests/macro_benchmark/databases.py
  tests/mgbench/README.md
  tests/mgbench/runners.py
  tests/public_benchmark/ldbc/config/memgraph.conf
  tests/public_benchmark/ldbc/run_benchmark
  tests/stress/continuous_integration
  tests/stress/durability
  tests/unit/storage_v2_durability_inmemory.cpp
  tools/snapshot_recovery_speed
Labels: Docs needed, breaking, CI -build=community -test=core, CI -build=release -test=core, CI -build=release -test=benchmark

#2149 Revert "Improve removal of obsolete indexes (#2043)"
  src/storage/v2/indices/indices.cpp
  src/storage/v2/indices/indices.hpp
  src/storage/v2/inmemory/label_index.cpp
  src/storage/v2/inmemory/label_index.hpp
  src/storage/v2/inmemory/label_property_index.cpp
  src/storage/v2/inmemory/label_property_index.hpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  src/storage/v2/inmemory/unique_constraints.cpp
  src/storage/v2/inmemory/unique_constraints.hpp
Labels: Docs unnecessary, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e

#2049 Add the external module for SAML SSO
  src/auth/CMakeLists.txt
  src/auth/auth.cpp
  src/auth/reference_modules/requirements.txt
  src/auth/reference_modules/saml.py
  tests/e2e/sso/CMakeLists.txt
  tests/e2e/sso/common.py
  tests/e2e/sso/data/CMakeLists.txt
  tests/e2e/sso/data/dummy_cert.txt
  tests/e2e/sso/data/entra_id_response.txt
  tests/e2e/sso/data/entra_id_response_missing_role.txt
  tests/e2e/sso/data/entra_id_response_timed_out.txt
  tests/e2e/sso/data/okta_response.txt
  tests/e2e/sso/data/okta_response_missing_role.txt
  tests/e2e/sso/data/okta_response_timed_out.txt
  tests/e2e/sso/test_saml_sso_module.py
  tests/e2e/sso/workloads.yaml
  tests/setup.sh
Labels: feature, enterprise, Docs needed, CI -build=release -test=e2e

#2045 Add SSO via OAuth2.0
  release/docker/v5_deb.dockerfile
  release/docker/v5_deb_relwithdebinfo.dockerfile
  src/auth/CMakeLists.txt
  src/auth/auth.cpp
  src/auth/reference_modules/oidc.py
  src/auth/reference_modules/requirements.txt
  tests/e2e/sso/CMakeLists.txt
  tests/e2e/sso/test_oidc.py
  tests/e2e/sso/workloads.yaml
Labels: feature, enterprise, Docs needed, CI -build=release -test=e2e

#2048 Add peak memory res to metrics and storage info
  src/http_handlers/metrics.hpp
  src/memgraph.cpp
  src/query/interpreter.cpp
  src/storage/v2/disk/storage.cpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/storage.hpp
  src/utils/event_gauge.cpp
  src/utils/event_gauge.hpp
  tests/e2e/configuration/storage_info.py
Labels: feature, Docs needed, CI -build=release -test=e2e
