Repository memgraph/memgraph, pull requests merged in 2024-09, with the labels that each got.

#2269 Log promotion
  src/coordination/coordinator_instance.cpp
  src/coordination/replication_instance_client.cpp
Labels: feature, Docs unnecessary

#2295 Remove system replication out of experimental features
  src/dbms/dbms_handler.cpp
  src/flags/experimental.cpp
  src/flags/experimental.hpp
  src/query/interpreter.cpp
  src/replication_handler/include/replication_handler/replication_handler.hpp
  src/replication_handler/system_replication.cpp
  tests/e2e/CMakeLists.txt
  tests/e2e/configuration/default_config.py
  tests/e2e/system_replication/CMakeLists.txt
  tests/e2e/system_replication/auth.py
  tests/e2e/system_replication/common.py
  tests/e2e/system_replication/conftest.py
  tests/e2e/system_replication/multitenancy.py
  tests/e2e/system_replication/workloads.yaml
Labels: Docs needed, breaking, CI -build=coverage -test=core, CI -build=release -test=core, CI -build=release -test=e2e

#2278 Rewrite concurrent QM and analytical storage mode e2e tests
  tests/e2e/concurrent_query_modules/con_query_modules.py
  tests/e2e/concurrent_query_modules/test_query_modules/module_test.cpp
  tests/e2e/concurrent_query_modules/workloads.yaml
  tests/e2e/query_modules_storage_modes/query_modules/c_api.cpp
  tests/e2e/query_modules_storage_modes/query_modules/cpp_api.cpp
  tests/e2e/query_modules_storage_modes/query_modules/python_api.py
  tests/e2e/query_modules_storage_modes/test_query_modules_storage_modes.py
Labels: tests, Docs unnecessary, CI -build=release -test=e2e

#2301 Separate processing jepsen results from the execution
  .github/workflows/diff_jepsen.yaml
  tests/jepsen/run.sh
Labels: feature, Docs unnecessary

#2300 Fix communication restarts
  tests/e2e/high_availability/common.py
  tests/e2e/high_availability/coord_cluster_registration.py
  tests/e2e/high_availability/coordinator.py
  tests/e2e/high_availability/disable_writing_on_main_after_restart.py
  tests/e2e/high_availability/distributed_coords.py
  tests/e2e/high_availability/manual_setting_replicas.py
  tests/e2e/high_availability/not_replicate_from_old_main.py
  tests/e2e/high_availability/single_coordinator.py
Labels: feature, Docs unnecessary, CI -build=release -test=e2e

#2286 Upgrade mgcxx to v0.0.7
  libs/setup.sh
Labels: infrastructure, Docs unnecessary, CI -build=release -test=e2e

#2312 Change e2e diff to run on multiple containers
  release/package/mgbuild.sh
  tests/e2e/disk_storage/workloads.yaml
  tools/github/coordinate_e2e_tests.py
Labels: tests

#2303 Fix e2e get info from other coordinators and add debug logs
  src/io/network/addrinfo.hpp
  src/io/network/endpoint.cpp
  src/io/network/endpoint.hpp
  src/io/network/socket.cpp
  src/memgraph.cpp
  src/utils/signals.cpp
  tests/e2e/high_availability/common.py
  tests/e2e/high_availability/distributed_coords.py
Labels: feature, Docs unnecessary

#2322 Revert "Change e2e diff to run on multiple containers"
  release/package/mgbuild.sh
  tests/e2e/disk_storage/workloads.yaml
  tools/github/coordinate_e2e_tests.py
Labels: infrastructure

#2316 Fix perf regression
  src/communication/bolt/v1/states/handlers.hpp
  src/utils/logging.hpp
Labels: bug, Docs - changelog only

#2276 Session trace
  src/flags/query.cpp
  src/flags/query.hpp
  src/query/CMakeLists.txt
  src/query/frontend/ast/ast.cpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/ast_visitor.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/cypher_main_visitor.hpp
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/frontend/opencypher/grammar/MemgraphCypherLexer.g4
  src/query/frontend/semantic/required_privileges.cpp
  src/query/interpreter.cpp
  src/query/interpreter.hpp
  src/query/query_logger.cpp
  src/query/query_logger.hpp
  src/utils/typeinfo.hpp
  tests/e2e/CMakeLists.txt
  tests/e2e/configuration/default_config.py
  tests/e2e/query_log/CMakeLists.txt
  tests/e2e/query_log/common.py
  tests/e2e/query_log/query_log.py
  tests/e2e/query_log/workloads.yaml
Labels: feature, community, Docs needed, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2310 Fix Abort() on Edge Index
  src/storage/v2/delta.hpp
  src/storage/v2/edge_accessor.cpp
  src/storage/v2/indices/edge_type_property_index.hpp
  src/storage/v2/indices/indices.cpp
  src/storage/v2/indices/indices.hpp
  src/storage/v2/indices/label_property_index.hpp
  src/storage/v2/inmemory/edge_type_index.cpp
  src/storage/v2/inmemory/edge_type_index.hpp
  src/storage/v2/inmemory/edge_type_property_index.cpp
  src/storage/v2/inmemory/edge_type_property_index.hpp
  src/storage/v2/inmemory/storage.cpp
Labels: bug, Docs - changelog only, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=benchmark

#2329 Fix durability around the point index
  src/storage/v2/durability/snapshot.cpp
  src/storage/v2/durability/version.hpp
Labels: bug, Docs unnecessary

#2307 Improvements on e2e testing infrastructure
  .github/workflows/diff_release.yaml
  release/package/mgbuild.sh
  tests/e2e/high_availability/common.py
  tests/e2e/high_availability/coord_cluster_registration.py
  tests/e2e/high_availability/coordinator.py
  tests/e2e/high_availability/disable_writing_on_main_after_restart.py
  tests/e2e/high_availability/distributed_coords.py
  tests/e2e/high_availability/manual_setting_replicas.py
  tests/e2e/high_availability/not_replicate_from_old_main.py
  tests/e2e/high_availability/single_coordinator.py
  tests/e2e/interactive_mg_runner.py
  tests/e2e/memgraph.py
  tests/e2e/replication/common.py
  tests/e2e/replication/replicate_enum.py
  tests/e2e/replication/replicate_spatial_feature.py
  tests/e2e/replication/replication_with_property_compression_used.py
  tests/e2e/replication/show_while_creating_invalid_state.py
  tests/e2e/replication/ttl.py
  tests/e2e/run.sh
  tests/e2e/runner.py
  tests/e2e/sso/common.py
  tests/e2e/sso/test_sso.py
  tests/e2e/system_replication/auth.py
  tests/e2e/system_replication/common.py
  tests/e2e/system_replication/multitenancy.py
  tests/jepsen/src/jepsen/memgraph/support.clj
Labels: tests, Docs unnecessary, CI -build=release -test=e2e

#2274 Bugfix: skipped post_update when recovering flag's value
  src/flags/run_time_configurable.cpp
  tests/unit/ttl.cpp
Labels: bug, Docs - changelog only

#2305 Compile Kafka client with SASL2 enabled
  environment/os/fedora-38.sh
  environment/os/fedora-39.sh
  libs/CMakeLists.txt
Labels: Docs - changelog only, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=benchmark

#2333 Added dump query for point indexes
  src/dbms/database.cpp
  src/query/dump.cpp
  src/query/dump.hpp
  tests/unit/query_dump.cpp
Labels: bug, Docs unnecessary

#2283 Replication fixes
  src/coordination/coordinator_instance.cpp
  src/dbms/dbms_handler.hpp
  src/dbms/inmemory/replication_handlers.cpp
  src/replication_handler/replication_handler.cpp
  src/storage/v2/durability/durability.cpp
  src/storage/v2/durability/metadata.hpp
  src/storage/v2/durability/snapshot.cpp
  src/storage/v2/durability/wal.cpp
  src/storage/v2/inmemory/replication/recovery.cpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/replication/recovery.hpp
  src/storage/v2/replication/replication_client.cpp
  src/storage/v2/replication/replication_storage_state.cpp
  src/storage/v2/replication/replication_storage_state.hpp
  src/storage/v2/replication/rpc.cpp
  tests/unit/coordinator_utils.cpp
  tests/unit/storage_v2_replication.cpp
Labels: bug, Docs - changelog only, CI -build=debug -test=core, CI -build=release -test=e2e

#2335 Add query dump test for edge indices
  tests/unit/query_dump.cpp
Labels: tests, Docs unnecessary, CI -build=debug -test=core

#2308 Add ability to set rust and node version in mgbuild dockerfile
  release/package/amzn-2/Dockerfile
  release/package/centos-7/Dockerfile
  release/package/centos-9/Dockerfile
  release/package/debian-10/Dockerfile
  release/package/debian-11-arm/Dockerfile
  release/package/debian-11/Dockerfile
  release/package/debian-12-arm/Dockerfile
  release/package/debian-12/Dockerfile
  release/package/fedora-36/Dockerfile
  release/package/fedora-38/Dockerfile
  release/package/fedora-39/Dockerfile
  release/package/mgbuild.sh
  release/package/rocky-9.3/Dockerfile
  release/package/ubuntu-18.04/Dockerfile
  release/package/ubuntu-20.04/Dockerfile
  release/package/ubuntu-22.04-arm/Dockerfile
  release/package/ubuntu-22.04/Dockerfile
  release/package/ubuntu-24.04-arm/Dockerfile
  release/package/ubuntu-24.04/Dockerfile
Labels: Docs unnecessary

#2334 Small change to test, more robust
  tests/unit/utils_rwlock.cpp
Labels: tests, Docs unnecessary

#2331 Jepsen reorganize packages
  tests/jepsen/README.md
  tests/jepsen/project.clj
  tests/jepsen/src/jepsen/memgraph/client.clj
  tests/jepsen/src/jepsen/memgraph/edn.clj
  tests/jepsen/src/memgraph/core.clj
  tests/jepsen/src/memgraph/high_availability/bank/nemesis.clj
  tests/jepsen/src/memgraph/high_availability/bank/test.clj
  tests/jepsen/src/memgraph/query.clj
  tests/jepsen/src/memgraph/replication/bank.clj
  tests/jepsen/src/memgraph/replication/large.clj
  tests/jepsen/src/memgraph/replication/nemesis.clj
  tests/jepsen/src/memgraph/replication/utils.clj
  tests/jepsen/src/memgraph/support.clj
  tests/jepsen/src/memgraph/utils.clj
  tests/jepsen/test/memgraph/memgraph_test.clj
Labels: tests, Docs unnecessary, CI -build=jepsen -test=core

#2256 Implements up-to-date schema tracking
  src/dbms/inmemory/replication_handlers.cpp
  src/flags/general.cpp
  src/flags/general.hpp
  src/memgraph.cpp
  src/query/exceptions.hpp
  src/query/interpreter.cpp
  src/storage/v2/CMakeLists.txt
  src/storage/v2/config.hpp
  src/storage/v2/durability/durability.cpp
  src/storage/v2/durability/durability.hpp
  src/storage/v2/durability/snapshot.cpp
  src/storage/v2/durability/snapshot.hpp
  src/storage/v2/durability/wal.cpp
  src/storage/v2/durability/wal.hpp
  src/storage/v2/edge_accessor.cpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  src/storage/v2/point.hpp
  src/storage/v2/property_store.cpp
  src/storage/v2/property_store.hpp
  src/storage/v2/property_value.hpp
  src/storage/v2/schema_info.cpp
  src/storage/v2/schema_info.hpp
  src/storage/v2/storage.cpp
  src/storage/v2/storage.hpp
  src/storage/v2/temporal.hpp
  src/storage/v2/vertex_accessor.cpp
  src/storage/v2/vertex_info_helpers.hpp
  src/utils/event_counter.cpp
  src/utils/rw_spin_lock.hpp
  tests/e2e/configuration/default_config.py
  tests/e2e/show_metrics/show_metrics.py
  tests/integration/telemetry/server.py
  tests/macro_benchmark/databases.py
  tests/unit/CMakeLists.txt
  tests/unit/storage_v2_durability_inmemory.cpp
  tests/unit/storage_v2_schema_info.cpp
Labels: Docs needed

#2289 Add type constraints
  src/dbms/inmemory/replication_handlers.cpp
  src/query/db_accessor.hpp
  src/query/dump.cpp
  src/query/dump.hpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/cypher_main_visitor.hpp
  src/query/frontend/opencypher/grammar/Cypher.g4
  src/query/frontend/opencypher/grammar/CypherLexer.g4
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/frontend/opencypher/grammar/MemgraphCypherLexer.g4
  src/query/frontend/stripped_lexer_constants.hpp
  src/query/interpreter.cpp
  src/storage/v2/CMakeLists.txt
  src/storage/v2/constraints/constraint_violation.hpp
  src/storage/v2/constraints/constraints.cpp
  src/storage/v2/constraints/constraints.hpp
  src/storage/v2/constraints/type_constraints.cpp
  src/storage/v2/constraints/type_constraints.hpp
  src/storage/v2/constraints/type_constraints_kind.hpp
  src/storage/v2/constraints/type_constraints_validator.cpp
  src/storage/v2/constraints/type_constraints_validator.hpp
  src/storage/v2/disk/storage.cpp
  src/storage/v2/disk/storage.hpp
  src/storage/v2/durability/durability.cpp
  src/storage/v2/durability/durability.hpp
  src/storage/v2/durability/marker.hpp
  src/storage/v2/durability/metadata.hpp
  src/storage/v2/durability/serialization.cpp
  src/storage/v2/durability/snapshot.cpp
  src/storage/v2/durability/storage_global_operation.hpp
  src/storage/v2/durability/version.hpp
  src/storage/v2/durability/wal.cpp
  src/storage/v2/durability/wal.hpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  src/storage/v2/metadata_delta.hpp
  src/storage/v2/property_store.cpp
  src/storage/v2/property_store.hpp
  src/storage/v2/property_store_types.hpp
  src/storage/v2/storage.hpp
  src/storage/v2/storage_error.hpp
  src/storage/v2/vertex_accessor.cpp
  tests/e2e/constraints/common.py
  tests/e2e/constraints/constraints_validation.py
  tests/e2e/drop_graph/drop_graph.py
  tests/e2e/replication/constraints.cpp
  tests/unit/cypher_main_visitor.cpp
  tests/unit/interpreter.cpp
  tests/unit/query_dump.cpp
  tests/unit/storage_v2_constraints.cpp
  tests/unit/storage_v2_decoder_encoder.cpp
  tests/unit/storage_v2_durability_inmemory.cpp
  tests/unit/storage_v2_wal_file.cpp
Labels: feature, Docs needed, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2339 Make type constraints community feature
  src/query/interpreter.cpp
  src/storage/v2/durability/snapshot.cpp
  tests/unit/storage_v2_durability_inmemory.cpp
Labels: feature, Docs unnecessary

#2338 Schema info handles type constraints
  src/query/interpreter.cpp
  tests/e2e/CMakeLists.txt
  tests/e2e/schema_info/CMakeLists.txt
  tests/e2e/schema_info/common.py
  tests/e2e/schema_info/schema_info.py
  tests/e2e/schema_info/workloads.yaml
Labels: Docs unnecessary, CI -build=release -test=e2e

#2343 Bugfix: Cartesian to Indexed Join was happening only for property filters
  src/query/plan/rewrite/edge_index_lookup.hpp
  src/query/plan/rewrite/index_lookup.hpp
  tests/e2e/query_planning/query_planning_cartesian.py
Labels: bug

#2342 Fix: ScanAllById regardless of function case
  src/query/frontend/ast/cypher_main_visitor.cpp
  tests/e2e/awesome_functions/CMakeLists.txt
  tests/e2e/awesome_functions/id.py
  tests/e2e/awesome_functions/workloads.yaml
Labels: bug, Docs unnecessary

#2346 Mg query log folder fix
  config/flags.yaml
  src/flags/query.cpp
  src/flags/query.hpp
  src/flags/run_time_configurable.cpp
  src/flags/run_time_configurable.hpp
  src/query/interpreter.cpp
  tests/e2e/configuration/default_config.py
  tests/e2e/query_log/workloads.yaml
Labels: bug, community, Docs unnecessary, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2352 Throw when schema.assert in explicit txn. Restore schema tests
  src/communication/bolt/v1/states/handlers.hpp
  src/query/exceptions.hpp
  src/query/interpreter.cpp
  tests/e2e/query_modules/schema_test.py
  tests/e2e/query_modules/workloads.yaml
Labels: bug, Docs - changelog only, CI -build=release -test=e2e

#2354 Add .editorconfig for vim and .clangd clang symbols
  .editorconfig
  tests/.clang-tidy
Labels: infrastructure, Docs unnecessary, CI -build=debug -test=core, CI -build=release -test=e2e

#2347 RTLD_DEEPBIND removal
  src/memgraph.cpp
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/frontend/stripped_lexer_constants.hpp
  src/query/procedure/module.cpp
  src/query/procedure/module.hpp
Labels: bug, Docs - changelog only

#2344 Improvements on e2e testing infrastructure
  src/io/network/endpoint.cpp
  tests/.flake8
  tests/e2e/high_availability/coord_cluster_registration.py
  tests/e2e/high_availability/coordinator.py
  tests/e2e/high_availability/disable_writing_on_main_after_restart.py
  tests/e2e/high_availability/distributed_coords.py
  tests/e2e/high_availability/manual_setting_replicas.py
  tests/e2e/high_availability/not_replicate_from_old_main.py
  tests/e2e/high_availability/single_coordinator.py
  tests/e2e/interactive_mg_runner.py
  tests/e2e/memgraph.py
  tests/e2e/replication/replicate_enum.py
  tests/e2e/replication/replicate_periodic_commit.py
  tests/e2e/replication/replicate_spatial_feature.py
  tests/e2e/replication/replication_with_property_compression_used.py
  tests/e2e/replication/show_while_creating_invalid_state.py
  tests/e2e/replication/ttl.py
  tests/e2e/replication/workloads.yaml
  tests/e2e/runner.py
  tests/e2e/sso/test_sso.py
  tests/e2e/system_replication/auth.py
  tests/e2e/system_replication/multitenancy.py
Labels: tests, Docs unnecessary, CI -build=release -test=e2e

#2332 Add create ha test
  .github/workflows/check_flakiness.yaml
  .github/workflows/stress_jepsen.yaml
  tests/jepsen/src/memgraph/core.clj
  tests/jepsen/src/memgraph/high_availability/bank/test.clj
  tests/jepsen/src/memgraph/high_availability/create/nemesis.clj
  tests/jepsen/src/memgraph/high_availability/create/test.clj
  tests/jepsen/src/memgraph/high_availability/utils.clj
  tests/jepsen/src/memgraph/query.clj
  tests/jepsen/src/memgraph/utils.clj
  tests/jepsen/test/memgraph/memgraph_test.clj
Labels: tests, Docs unnecessary, CI -build=jepsen -test=core
