Repository memgraph/memgraph, pull requests merged in 2025-02, with the labels that each got.

#2619 Make all test work with toolchain-v6
  CMakeLists.txt
  environment/util.sh
  init
  libs/CMakeLists.txt
  libs/setup.sh
  release/package/mgbuild.sh
  src/kvstore/CMakeLists.txt
  tests/drivers/java/v4_1/Transactions.java
  tests/drivers/python/v4_1/run.sh
  tests/drivers/python/v5_8/run.sh
  tests/drivers/python/v5_8/run_cluster_tests.sh
  tests/drivers/run.sh
  tests/drivers/run_cluster.sh
  tests/drivers/run_v1.sh
  tests/query_modules/README.md
  tests/query_modules/requirements.txt
  tests/query_modules/runner.py
  tests/setup.sh
  tools/src/CMakeLists.txt
Labels: Docs unnecessary, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark, CI -build=release -test=query_modules

#2660 Align timeout usage during init / libs setup
  libs/setup.sh
Labels: infrastructure, Docs unnecessary, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark, CI -build=release -test=query_modules

#2648 Add timeouts for force reset and system heartbeat RPC messages
  .github/workflows/stress_jepsen.yaml
  src/dbms/dbms_handler.hpp
  src/dbms/inmemory/replication_handlers.cpp
  src/replication_handler/include/replication_handler/replication_handler.hpp
  src/replication_handler/system_replication.cpp
  src/rpc/client.hpp
  src/storage/v2/config.hpp
  src/storage/v2/replication/replication_client.cpp
  src/storage/v2/replication/replication_client.hpp
  src/storage/v2/replication/rpc.cpp
  src/storage/v2/replication/rpc.hpp
Labels: feature, Capability - high-availability, Docs needed, CI -build=release -test=core

#2630 fix: Convert between temporal types (#2572)
  src/query/interpret/awesome_memgraph_functions.cpp
  tests/unit/query_expression_evaluator.cpp
Labels: bug, Docs needed, CI -build=release -test=core

#2639 Avoid crash when replica recovery fails
  src/coordination/data_instance_management_server_handlers.cpp
  src/coordination/include/coordination/coordinator_communication_config.hpp
  src/coordination/include/coordination/coordinator_instance.hpp
  src/coordination/include/coordination/coordinator_rpc.hpp
  src/dbms/dbms_handler.cpp
  src/dbms/inmemory/replication_handlers.cpp
  src/io/network/socket.cpp
  src/io/network/socket.hpp
  src/replication/include/replication/replication_client.hpp
  src/replication/include/replication/state.hpp
  src/replication/include/replication/status.hpp
  src/replication/replication_client.cpp
  src/replication_coordination_glue/handler.hpp
  src/replication_coordination_glue/messages.hpp
  src/replication_handler/include/replication_handler/replication_handler.hpp
  src/replication_handler/replication_handler.cpp
  src/storage/v2/durability/durability.cpp
  src/storage/v2/durability/snapshot.cpp
  src/storage/v2/inmemory/label_index.hpp
  src/storage/v2/inmemory/label_property_index.cpp
  src/storage/v2/inmemory/replication/recovery.cpp
  src/storage/v2/inmemory/replication/recovery.hpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  src/storage/v2/inmemory/unique_constraints.cpp
  src/storage/v2/replication/replication_client.cpp
  src/storage/v2/replication/replication_client.hpp
  src/storage/v2/replication/replication_transaction.hpp
  src/storage/v2/replication/rpc.cpp
  src/storage/v2/replication/rpc.hpp
  src/system/include/system/system.hpp
  tests/unit/CMakeLists.txt
  tests/unit/coordinator_instance.cpp
  tests/unit/coordinator_raft_state.cpp
  tests/unit/storage_v2_replication.cpp
Labels: bug, Capability - high-availability, Docs - changelog only

#2668 fix: Set correct memory ordering for RWSpinLock
  src/utils/rw_spin_lock.hpp
Labels: bug, Docs - changelog only, CI -build=community -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2658 Bugfix: Parallel recovery doesn't work with WAL files
  src/dbms/inmemory/replication_handlers.cpp
  src/storage/v2/durability/durability.cpp
  src/storage/v2/durability/durability.hpp
  src/storage/v2/inmemory/storage.cpp
  tests/unit/storage_v2_durability_inmemory.cpp
Labels: bug, Docs - changelog only, CI -build=coverage -test=core, CI -build=debug -test=core, CI -build=release -test=core

#2667 Reduce contention around socket send
  src/communication/bolt/v1/decoder/chunked_decoder_buffer.hpp
  src/communication/bolt/v1/encoder/chunked_encoder_buffer.hpp
  src/communication/bolt/v1/encoder/client_encoder.hpp
  src/communication/bolt/v1/encoder/encoder.hpp
  src/glue/communication.cpp
  src/utils/result.hpp
  tests/unit/bolt_common.hpp
  tests/unit/bolt_encoder.cpp
  tests/unit/bolt_session.cpp
  tests/unit/storage_v2_indices.cpp
  tests/unit/storage_v2_wal_file.cpp
  tests/unit/ttl.cpp
Labels: bug, Docs - changelog only

#2654 Add timeout for the SystemRecoveryRpc message
  src/rpc/client.hpp
Labels: feature, Capability - high-availability, Docs needed

#2666 fix: Add YIELD instruction to `RWSpinLock` on ARM64
  src/utils/rw_spin_lock.hpp
Labels: bug, Docs - changelog only, CI -build=release -test=core

#2674 SHOW/USE DATABASE requalified as non-system query
  src/query/exceptions.hpp
  src/query/frontend/ast/ast.cpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/ast_visitor.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/cypher_main_visitor.hpp
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/frontend/semantic/required_privileges.cpp
  src/query/interpreter.cpp
  src/utils/typeinfo.hpp
  tests/e2e/system_replication/multitenancy.py
  tests/integration/transactions/tester.cpp
Labels: Docs - changelog only, Code improvements, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=integration, CI -build=release -test=e2e

#2670 Overhaul of the query memory tracker
  src/memory/global_memory_control.cpp
  src/memory/query_memory_control.cpp
  src/memory/query_memory_control.hpp
  src/query/db_accessor.cpp
  src/query/db_accessor.hpp
  src/query/interpreter.cpp
  src/query/interpreter.hpp
  src/query/plan/operator.cpp
  src/storage/v2/storage.cpp
  src/storage/v2/storage.hpp
  src/storage/v2/transaction.hpp
  src/utils/query_memory_tracker.hpp
  tests/e2e/memory/procedures/proc_memory_limit.cpp
  tests/e2e/memory/procedures/query_memory_limit_proc.cpp
  tests/unit/utils_query_memory_tracker.cpp
Labels: Docs unnecessary, Code improvements, CI -build=coverage -test=core, CI -build=debug -test=integration, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=query_modules

#2673 Bugfix: Unregister replication instance wasn't durable
  src/coordination/coordinator_instance.cpp
  src/coordination/data_instance_management_server_handlers.cpp
  tests/e2e/high_availability/coord_cluster_registration.py
Labels: bug, Docs - changelog only, CI -build=coverage -test=core, CI -build=release -test=e2e

#2683 Bugfix, timestamp didn't check nargs
  src/query/interpret/awesome_memgraph_functions.cpp
Labels: bug, Docs unnecessary

#2651 Timing out storage access
  src/storage/v2/storage.cpp
  src/storage/v2/storage.hpp
  tests/e2e/concurrency/concurrency.py
  tests/unit/CMakeLists.txt
  tests/unit/storage_v2_acc.cpp
Labels: bug, Docs needed, CI -build=release -test=core, CI -build=release -test=e2e

#2379 Improve error messages
  src/query/exceptions.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/opencypher/parser.hpp
  src/query/frontend/stripped.cpp
  src/query/interpreter.cpp
  tests/e2e/high_availability/disable_writing_on_main_after_restart.py
  tests/e2e/high_availability/distributed_coords.py
  tests/e2e/query_modules/schema_test.py
  tests/e2e/text_search_modules/test_text_search_disabled.py
  tests/integration/transactions/tester.cpp
  tests/jepsen/src/memgraph/utils.clj
Labels: Docs - changelog only, breaking, CI -build=jepsen -test=core, CI -build=release -test=e2e

#2370 Change telemetry config
  src/memgraph.cpp
  src/telemetry/telemetry.cpp
  src/telemetry/telemetry.hpp
  tests/integration/telemetry/client.cpp
Labels: Docs unnecessary

#2678 Return newest index when creating nodes in jepsen HA test
  tests/jepsen/src/memgraph/high_availability/create/test.clj
  tests/jepsen/src/memgraph/query.clj
Labels: tests, Docs unnecessary, jepsen

#2614 Build without jemalloc in container
  release/package/mgbuild.sh
Labels: Docs unnecessary

#2679 SHOW REPLICAS uses local timestamp
  src/replication/include/replication/replication_client.hpp
  src/replication_handler/replication_handler.cpp
  src/storage/v2/replication/replication_client.cpp
  src/storage/v2/replication/replication_client.hpp
  src/storage/v2/replication/replication_transaction.hpp
  tests/e2e/high_availability/single_coordinator.py
  tests/e2e/replication/show_while_creating_invalid_state.py
  tests/e2e/system_replication/multitenancy.py
  tests/unit/storage_v2_replication.cpp
Labels: Docs - changelog only, Code improvements, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=release -test=e2e

#2693 Handle failures of add-nodes in Jepsen stress test
  tests/jepsen/src/memgraph/high_availability/create/test.clj
  tests/jepsen/src/memgraph/utils.clj
Labels: bug, tests, Docs unnecessary

#2558 Add dynamic relationship creation in Cypher
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/opencypher/grammar/Cypher.g4
  src/query/frontend/semantic/symbol_generator.cpp
  src/query/plan/operator.cpp
  src/query/plan/operator.hpp
  src/query/plan/preprocess.cpp
  src/query/plan/pretty_print.cpp
  src/query/plan/rule_based_planner.hpp
  tests/e2e/CMakeLists.txt
  tests/e2e/dynamic_variable_creation/CMakeLists.txt
  tests/e2e/dynamic_variable_creation/common.py
  tests/e2e/dynamic_variable_creation/dynamic_variable_creation.py
  tests/e2e/dynamic_variable_creation/workloads.yaml
  tests/e2e/load_csv/CMakeLists.txt
  tests/e2e/load_csv/common.py
  tests/e2e/load_csv/load_csv.py
  tests/e2e/load_csv/simple_edges.csv
  tests/e2e/load_csv/simple_nodes.csv
  tests/gql_behave/tests/memgraph_V1/features/with.feature
  tests/unit/cypher_main_visitor.cpp
  tests/unit/query_common.hpp
  tests/unit/query_plan.cpp
  tests/unit/query_semantic.cpp
  tests/unit/query_variable_start_planner.cpp
Labels: feature, Docs needed, customer, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2690 Add RPC timeouts for AppendDeltas, CurrentWal and WalFiles
  src/coordination/coordinator_instance_management_server_handlers.cpp
  src/coordination/include/coordination/coordinator_instance_management_server_handlers.hpp
  src/dbms/inmemory/replication_handlers.cpp
  src/dbms/inmemory/replication_handlers.hpp
  src/rpc/client.hpp
  src/rpc/utils.hpp
  src/storage/v2/inmemory/replication/recovery.cpp
  src/storage/v2/replication/replication_client.cpp
  src/storage/v2/replication/rpc.cpp
  src/storage/v2/replication/rpc.hpp
  tests/unit/CMakeLists.txt
  tests/unit/replication_rpc_progress.cpp
  tests/unit/rpc_in_progress.cpp
Labels: feature, Docs needed

#2700 Stress testing with bash deployment scripts
  release/package/mgbuild.sh
  tests/stress/README.md
  tests/stress/configurations/chart_values/memgraph_ha_chart_values.yaml
  tests/stress/configurations/chart_values/memgraph_standalone_chart_values.yaml
  tests/stress/configurations/deployments/binary_ha.sh
  tests/stress/configurations/deployments/binary_standalone.sh
  tests/stress/configurations/templates/config_custom.yaml
  tests/stress/configurations/templates/config_docker.yaml
  tests/stress/configurations/templates/config_ha.yaml
  tests/stress/configurations/templates/config_k8s.yaml
  tests/stress/configurations/templates/config_small.yaml
  tests/stress/configurations/workloads/deadlock/show_replicas_deadlock.yaml
  tests/stress/configurations/workloads/examples/example_workload.yaml
  tests/stress/configurations/workloads/examples/example_workload_k8s.yaml
  tests/stress/configurations/workloads/examples/example_workload_k8s_ha.yaml
  tests/stress/configurations/workloads/performance/supernode_edge_abort.yaml
  tests/stress/continuous_integration
  tests/stress/deployments.py
  tests/stress/workers.py
Labels: infrastructure, Ready for review, CI -build=release -test=stress

#2719 Fix vector index config map parsing issues
  src/query/interpreter.cpp
Labels: bug, Docs - changelog only, CI -build=debug -test=core, CI -build=release -test=core

#2687 Replication info queries reclassified as non system
  src/coordination/data_instance_management_server_handlers.cpp
  src/coordination/include/coordination/data_instance_management_server_handlers.hpp
  src/dbms/database.cpp
  src/dbms/database.hpp
  src/dbms/database_handler.hpp
  src/dbms/dbms_handler.cpp
  src/dbms/dbms_handler.hpp
  src/dbms/inmemory/replication_handlers.cpp
  src/dbms/inmemory/storage_helper.hpp
  src/memgraph.cpp
  src/mg_import_csv.cpp
  src/query/frontend/ast/ast.cpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/ast_visitor.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/cypher_main_visitor.hpp
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/frontend/semantic/required_privileges.cpp
  src/query/interpreter.cpp
  src/query/interpreter_context.cpp
  src/query/interpreter_context.hpp
  src/replication/include/replication/state.hpp
  src/replication_handler/include/replication_handler/replication_handler.hpp
  src/replication_handler/replication_handler.cpp
  src/utils/synchronized.hpp
  src/utils/typeinfo.hpp
  tests/benchmark/expansion.cpp
  tests/e2e/system_replication/multitenancy.py
  tests/integration/telemetry/client.cpp
  tests/manual/single_query.cpp
  tests/unit/cypher_main_visitor.cpp
  tests/unit/database_get_info.cpp
  tests/unit/dbms_database.cpp
  tests/unit/dbms_handler.cpp
  tests/unit/dbms_handler_community.cpp
  tests/unit/interpreter.cpp
  tests/unit/multi_tenancy.cpp
  tests/unit/query_dump.cpp
  tests/unit/query_plan_edge_cases.cpp
  tests/unit/query_streams.cpp
  tests/unit/storage_v2_constraints.cpp
  tests/unit/storage_v2_durability_inmemory.cpp
  tests/unit/storage_v2_get_info.cpp
  tests/unit/storage_v2_replication.cpp
  tests/unit/storage_v2_storage_mode.cpp
  tests/unit/transaction_queue.cpp
  tests/unit/transaction_queue_multiple.cpp
  tests/unit/ttl.cpp
Labels: Docs unnecessary, Code improvements, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=integration, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=query_modules

#2713 Add dynamic labels set from list
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/plan/operator.cpp
  tests/e2e/dynamic_variable_creation/dynamic_variable_creation.py
Labels: feature, Effort - Low, Docs needed, Capability - cypher, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark, CI -build=release -test=query_modules

#2723 Bugfix: mgbench client uses wrong atomic memory orders
  tests/mgbench/client.cpp
Labels: bug, benchmarking, Docs unnecessary, CI -build=release -test=benchmark

#2715 Add custom auth scheme for OIDC SSO
  src/auth/reference_modules/oidc.py
  src/communication/bolt/v1/states/init.hpp
  src/flags/auth.hpp
  tests/e2e/sso/test_oidc.py
Labels: feature, Capability - security, enterprise, Docs needed

#2740 Restore recovery time on Jepsen, use leave-db-running and ignore-fail-read to prevent tar from early exit
  .github/workflows/stress_jepsen.yaml
  tests/jepsen/run.sh
  tests/jepsen/src/memgraph/high_availability/create/test.clj
Labels: tests, Docs needed

#2722 Planner and LabelPropertyIndex improvements
  src/flags/run_time_configurable.cpp
  src/flags/run_time_configurable.hpp
  src/query/db_accessor.hpp
  src/query/plan/cost_estimator.hpp
  src/query/plan/planner.hpp
  src/query/plan/vertex_count_cache.hpp
  src/storage/v2/indices/indices_utils.hpp
  src/storage/v2/inmemory/edge_type_index.cpp
  src/storage/v2/inmemory/edge_type_property_index.cpp
  src/storage/v2/inmemory/label_index.cpp
  src/storage/v2/inmemory/label_property_index.cpp
  src/storage/v2/storage.hpp
  src/utils/algorithm.hpp
  tests/e2e/configuration/default_config.py
  tests/e2e/query_planning/query_planning_valid_query_plans.py
Labels: bug, feature, Docs needed, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=query_modules

#2735 Bugfix: Unregister replication instance could deadlock
  src/coordination/coordinator_instance.cpp
  src/coordination/include/coordination/register_main_replica_coordinator_status.hpp
  src/coordination/include/coordination/replication_instance_client.hpp
  src/query/interpreter.cpp
  tests/e2e/high_availability/common.py
Labels: bug, Docs needed, CI -build=release -test=e2e

#2701 Add timeouts to SnapshotRpc
  src/dbms/inmemory/replication_handlers.cpp
  src/rpc/client.hpp
  src/storage/v2/commit_log.hpp
  src/storage/v2/constraints/existence_constraints.cpp
  src/storage/v2/constraints/existence_constraints.hpp
  src/storage/v2/constraints/type_constraints.cpp
  src/storage/v2/constraints/type_constraints.hpp
  src/storage/v2/constraints/utils.hpp
  src/storage/v2/durability/durability.cpp
  src/storage/v2/durability/durability.hpp
  src/storage/v2/durability/snapshot.cpp
  src/storage/v2/durability/snapshot.hpp
  src/storage/v2/indices/indices_utils.hpp
  src/storage/v2/indices/point_index.cpp
  src/storage/v2/indices/point_index.hpp
  src/storage/v2/indices/text_index.cpp
  src/storage/v2/indices/text_index.hpp
  src/storage/v2/indices/vector_index.cpp
  src/storage/v2/indices/vector_index.hpp
  src/storage/v2/inmemory/edge_type_index.cpp
  src/storage/v2/inmemory/edge_type_index.hpp
  src/storage/v2/inmemory/edge_type_property_index.cpp
  src/storage/v2/inmemory/edge_type_property_index.hpp
  src/storage/v2/inmemory/label_index.cpp
  src/storage/v2/inmemory/label_index.hpp
  src/storage/v2/inmemory/label_property_index.cpp
  src/storage/v2/inmemory/label_property_index.hpp
  src/storage/v2/inmemory/replication/recovery.cpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/unique_constraints.cpp
  src/storage/v2/inmemory/unique_constraints.hpp
  src/storage/v2/snapshot_observer_info.hpp
  src/utils/counter.hpp
  src/utils/observer.hpp
  tests/jepsen/src/memgraph/core.clj
  tests/unit/CMakeLists.txt
  tests/unit/counter.cpp
  tests/unit/snapshot_rpc_progress.cpp
  tests/unit/vector_index.cpp
Labels: feature, Capability - high-availability, Docs needed, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=release -test=e2e, jepsen, Capability - vector-search

#2748 Bugfix: Ignore hidden files when symlinking data directory
  src/dbms/dbms_handler.hpp
  tests/e2e/durability/CMakeLists.txt
  tests/e2e/durability/common.py
  tests/e2e/durability/multitenancy.py
  tests/e2e/durability/snapshot_recovery.py
  tests/e2e/durability/workloads.yaml
Labels: bug, Docs - changelog only, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=query_modules

#2733 Remove mg_utility duplication and improve query_modules CMake
  include/data_structures/graph_data.hpp
  include/data_structures/graph_view.hpp
  include/mg_generate.hpp
  include/mg_graph.hpp
  include/mg_test_utils.hpp
  include/mg_utils.hpp
  query_modules/CMakeLists.txt
  query_modules/mg_utility/CMakeLists.txt
Labels: Docs unnecessary, Code improvements

#2745 Add multitenancy HA stress test
  .github/workflows/stress_jepsen.yaml
  .gitignore
  tests/jepsen/resources/ha-mt.edn
  tests/jepsen/run.sh
  tests/jepsen/src/memgraph/core.clj
  tests/jepsen/src/memgraph/high_availability/create/test.clj
  tests/jepsen/src/memgraph/mtenancy/nemesis.clj
  tests/jepsen/src/memgraph/mtenancy/test.clj
  tests/jepsen/src/memgraph/mtenancy/utils.clj
  tests/jepsen/src/memgraph/query.clj
  tests/jepsen/src/memgraph/utils.clj
  tests/jepsen/test/memgraph/memgraph_test.clj
Labels: tests, Capability - high-availability, Capability - multi-tenancy, jepsen
