Repository memgraph/memgraph, pull requests merged in 2025-06, with the labels that each got.

#3005 Update mgbench docs with instructions on new docker image
  tests/mgbench/how_to_use_benchgraph.md
Labels: documentation, benchmarking, Docs unnecessary

#3012 Remove accidental update to Dockerfile
  release/docker/v6_deb_relwithdebinfo.dockerfile
Labels: infrastructure, Docs unnecessary

#3001 Improve MultipleReaders unit test
  tests/unit/utils_rwlock.cpp
Labels: tests, Docs unnecessary, Code improvements, CI -build=community -test=core, CI -build=coverage -test=core

#3013 Remove package update to stop CentOS 10 build getting stuck
  environment/os/centos-10.sh
  release/package/centos-10/Dockerfile
  release/package/mgbuild.sh
Labels: infrastructure, Docs unnecessary

#3016 Replace `PropertyValue` map internals
  src/glue/SessionHL.cpp
  src/glue/communication.cpp
  src/query/frontend/ast/pretty_print.cpp
  src/query/procedure/mg_procedure_impl.cpp
  src/query/serialization/property_value.cpp
  src/storage/v2/delta.hpp
  src/storage/v2/durability/serialization.cpp
  src/storage/v2/property_store.cpp
  src/storage/v2/property_value.hpp
  src/storage/v2/replication/slk.cpp
  tests/unit/storage_v2_indices.cpp
Labels: bug, Docs - changelog only, CI -build=jepsen -test=core, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=query_modules

#3028 Install `lsof` prior to E2E tests
  release/package/mgbuild.sh
Labels: infrastructure, Docs unnecessary

#3029 Install lsof before E2E tests.
  release/package/mgbuild.sh
Labels: infrastructure, Docs unnecessary

#3015 Add support for c++26 atomix_fetch_max_explicit
  src/coordination/coordinator_state_machine.cpp
  src/storage/v2/durability/snapshot.cpp
  src/storage/v2/inmemory/storage.cpp
  src/utils/CMakeLists.txt
  src/utils/atomic_max.hpp
  src/utils/memory_tracker.cpp
Labels: Docs unnecessary, Code improvements, CI -build=coverage -test=core, CI -build=release -test=core

#2785 Mgbench FalkorDB
  .github/workflows/performance_benchmarks.yaml
  release/package/mgbuild.sh
  tests/mgbench/benchmark.py
  tests/mgbench/benchmark_context.py
  tests/mgbench/client.cpp
  tests/mgbench/constants.py
  tests/mgbench/graph_bench.py
  tests/mgbench/how_to_use_benchgraph.md
  tests/mgbench/mg_ondisk_vs_neo4j_pokec.sh
  tests/mgbench/python_client.py
  tests/mgbench/runners.py
  tests/mgbench/validation.py
  tests/mgbench/workloads/base.py
  tests/mgbench/workloads/disk_pokec.py
  tests/mgbench/workloads/importers/base.py
  tests/mgbench/workloads/importers/disk_importer_pokec.py
  tests/mgbench/workloads/importers/importer_ldbc_bi.py
  tests/mgbench/workloads/importers/importer_ldbc_interactive.py
  tests/mgbench/workloads/importers/importer_pokec.py
  tests/mgbench/workloads/ldbc_bi.py
  tests/mgbench/workloads/ldbc_interactive.py
  tests/mgbench/workloads/pokec.py
  tools/run_vector_search_index_benchmark.bash
Labels: infrastructure, Docs unnecessary, CI -build=release -test=benchmark

#3031 Enabling replication in case of RECOVER SNAPSHOT
  src/query/interpreter.cpp
  src/storage/v2/durability/durability.cpp
  src/storage/v2/durability/snapshot.cpp
  src/storage/v2/durability/snapshot.hpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  src/storage/v2/replication/replication_client.cpp
  src/storage/v2/replication/replication_client.hpp
  src/utils/uuid.hpp
  tests/e2e/system_replication/multitenancy.py
Labels: bug, Docs - changelog only, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=release -test=e2e

#2958 Mgbench Postgres
  tests/mgbench/benchmark.py
  tests/mgbench/constants.py
  tests/mgbench/python_client.py
  tests/mgbench/runners.py
  tests/mgbench/workloads/base.py
  tests/mgbench/workloads/cartesian.py
  tests/mgbench/workloads/demo.py
  tests/mgbench/workloads/disk_pokec.py
  tests/mgbench/workloads/high_write_set_property.py
  tests/mgbench/workloads/importers/importer_pokec.py
  tests/mgbench/workloads/ldbc_bi.py
  tests/mgbench/workloads/ldbc_interactive.py
  tests/mgbench/workloads/pokec.py
  tests/mgbench/workloads/pokec_traversals.py
  tests/mgbench/workloads/supernode.py
  tests/mgbench/workloads/vector_search_index.py
Labels: benchmarking, Docs unnecessary, CI -build=release -test=benchmark

#3045 Fix Jepsen txn timeout handling
  tests/jepsen/src/memgraph/high_availability/create/test.clj
  tests/jepsen/src/memgraph/utils.clj
Labels: tests, Docs unnecessary

#3046 Remove networking overhead from the flaky Raft state test
  src/coordination/include/coordination/raft_state.hpp
  src/coordination/include/coordination/utils.hpp
  src/coordination/raft_state.cpp
  src/coordination/utils.cpp
  tests/unit/coordinator_raft_state.cpp
Labels: tests, Docs unnecessary, CI -build=community -test=core, CI -build=debug -test=core, CI -build=release -test=core, flakiness

#3024 Duplicated update of global ts on replica
  src/dbms/inmemory/replication_handlers.cpp
Labels: bug, Docs unnecessary, Code improvements, CI -build=coverage -test=core, CI -build=release -test=core, CI -build=release -test=e2e

#3025 Support regex queries with label+property indices
  src/storage/v2/inmemory/label_property_index.cpp
  tests/unit/storage_v2_indices.cpp
Labels: bug, Docs - changelog only, CI -build=jepsen -test=core, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress

#3048 Add get hops limit function
  src/query/hops_limit.hpp
  src/query/interpret/awesome_memgraph_functions.cpp
  src/query/interpret/awesome_memgraph_functions.hpp
  src/query/interpret/eval.hpp
  src/query/plan/operator.cpp
  tests/gql_behave/tests/memgraph_V1/features/hops_limit.feature
Labels: feature, Docs needed, customer, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e

#3060 Fix HA bank test flakiness
  tests/jepsen/src/memgraph/high_availability/bank/test.clj
Labels: bug, Capability - high-availability, Docs unnecessary, CI -build=jepsen -test=core, jepsen

#3002 Monitor replica recovery
  src/storage/v2/replication/replication_client.cpp
  src/utils/event_counter.cpp
  tests/e2e/show_metrics/show_metrics.py
Labels: feature, Docs needed
