Repository memgraph/memgraph, pull requests merged in 2025-09, with the labels that each got.

#3228 Update durability version to v31
  src/storage/v2/durability/snapshot.cpp
  src/storage/v2/durability/version.hpp
  tests/integration/durability/tests/v31/test_all/create_dataset.cypher
  tests/integration/durability/tests/v31/test_all/expected_snapshot.cypher
  tests/integration/durability/tests/v31/test_all/expected_wal.cypher
  tests/integration/durability/tests/v31/test_all/snapshot.bin
  tests/integration/durability/tests/v31/test_all/wal.bin
  tests/integration/durability/tests/v31/test_constraints/create_dataset.cypher
  tests/integration/durability/tests/v31/test_constraints/expected_snapshot.cypher
  tests/integration/durability/tests/v31/test_constraints/expected_wal.cypher
  tests/integration/durability/tests/v31/test_constraints/snapshot.bin
  tests/integration/durability/tests/v31/test_constraints/wal.bin
  tests/integration/durability/tests/v31/test_edges/create_dataset.cypher
  tests/integration/durability/tests/v31/test_edges/expected_snapshot.cypher
  tests/integration/durability/tests/v31/test_edges/expected_wal.cypher
  tests/integration/durability/tests/v31/test_edges/snapshot.bin
  tests/integration/durability/tests/v31/test_edges/wal.bin
  tests/integration/durability/tests/v31/test_vertices/create_dataset.cypher
  tests/integration/durability/tests/v31/test_vertices/expected_snapshot.cypher
  tests/integration/durability/tests/v31/test_vertices/expected_wal.cypher
  tests/integration/durability/tests/v31/test_vertices/snapshot.bin
  tests/integration/durability/tests/v31/test_vertices/wal.bin
Labels: Docs unnecessary, CI -build=coverage -test=clang_tidy

#3234 Remove unused clang tidy workflow
  .github/workflows/full_clang_tidy.yaml
Labels: infrastructure, Docs unnecessary

#3237 Support `OR` label filters alongside label `MATCH`
  src/query/plan/preprocess.cpp
  tests/gql_behave/tests/memgraph_V1/features/match.feature
Labels: bug, Docs - changelog only, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark, CI -build=release -test=query_modules, CI -build=malloc -test=build, CI -build=coverage -test=clang_tidy

#3244 Fix packaging-only build
  src/planner/CMakeLists.txt
Labels: infrastructure, Docs unnecessary, CI -package=ubuntu-24.04

#3229 fix: E2E test replication lag
  tests/e2e/high_availability/replication_lag.py
Labels: Capability - high-availability, Docs unnecessary, CI -build=release -test=e2e, flakiness

#3247 DROP ALL INDEXES and DROP ALL CONSTRAINTS
  src/query/cypher_query_interpreter.cpp
  src/query/db_accessor.hpp
  src/query/exceptions.hpp
  src/query/frontend/ast/ast.cpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/ast_visitor.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/cypher_main_visitor.hpp
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/frontend/semantic/required_privileges.cpp
  src/query/interpreter.cpp
  src/storage/v2/disk/storage.cpp
  src/storage/v2/disk/storage.hpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  src/storage/v2/storage.hpp
  src/utils/typeinfo.hpp
  tests/e2e/CMakeLists.txt
  tests/e2e/drop_graph/CMakeLists.txt
  tests/e2e/drop_graph/workloads.yaml
  tests/e2e/drop_queries/CMakeLists.txt
  tests/e2e/drop_queries/common.py
  tests/e2e/drop_queries/drop_all_constraints.py
  tests/e2e/drop_queries/drop_all_indexes.py
  tests/e2e/drop_queries/drop_graph.py
  tests/e2e/drop_queries/workloads.yaml
Labels: feature, Docs needed

#3251 Allow Jepsen stress tests to run on machines with less RAM
  .github/workflows/reusable_stress_jepsen.yaml
  .github/workflows/stress_jepsen_ha.yaml
Labels: infrastructure, Docs unnecessary

#3258 fix: Finalize WAL before updating epoch on replica
  src/dbms/inmemory/replication_handlers.cpp
Labels: bug, Capability - high-availability, Docs - changelog only, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=coverage -test=clang_tidy

#3269 refactor: Log time when SIGTERM is sent in e2e tests
  tests/e2e/memgraph.py
Labels: tests, Docs unnecessary, Code improvements

#3273 Disable tests using npm
  tests/drivers/run.sh
  tests/drivers/run_cluster.sh
  tests/e2e/runner.py
  tests/util.sh
Labels: infrastructure, Docs unnecessary

#3274 fix: Change absl::flat_hash_map -> std::map
  src/query/interpret/awesome_memgraph_functions.cpp
Labels: bug

#3285 Fix Memgraph failing to shutdown due to async indexer
  src/storage/v2/async_indexer.cpp
  src/storage/v2/inmemory/storage.cpp
  tests/e2e/index_auto_creation/index_auto_creation.py
Labels: bug, tests, Docs - changelog only

#3286 Add pattern expressions
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/cypher_main_visitor.hpp
  src/query/frontend/opencypher/grammar/Cypher.g4
  tests/gql_behave/tests/memgraph_V1/features/patterns.feature
Labels: feature, Docs needed, Capability - cypher, customer, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark, CI -build=release -test=query_modules, CI -build=malloc -test=build

#3283 Remove duplicate nodes in `to_tree` result
  query_modules/convert.c
  tests/query_modules/to_tree_test/test_merge_duplicate_nodes/input.cyp
  tests/query_modules/to_tree_test/test_merge_duplicate_nodes/test.yml
  tests/query_modules/to_tree_test/test_multi_label_distinct/input.cyp
  tests/query_modules/to_tree_test/test_multi_label_distinct/test.yml
  tests/query_modules/to_tree_test/test_multiple_label_property_filtering/input.cyp
  tests/query_modules/to_tree_test/test_multiple_label_property_filtering/test.yml
Labels: bug, Docs - changelog only, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=query_modules

#3219 feat: Use num committed txns for failover and use replication lag as input for the failover decision
  src/coordination/coordinator_cluster_state.cpp
  src/coordination/coordinator_instance.cpp
  src/coordination/coordinator_rpc.cpp
  src/coordination/coordinator_state_machine.cpp
  src/coordination/data_instance_management_server_handlers.cpp
  src/coordination/include/coordination/constants.hpp
  src/coordination/include/coordination/coordinator_cluster_state.hpp
  src/coordination/include/coordination/coordinator_instance.hpp
  src/coordination/include/coordination/coordinator_ops_status.hpp
  src/coordination/include/coordination/coordinator_rpc.hpp
  src/coordination/include/coordination/coordinator_slk.hpp
  src/coordination/include/coordination/coordinator_state_machine.hpp
  src/coordination/include/coordination/instance_state.hpp
  src/coordination/include/coordination/raft_state.hpp
  src/coordination/raft_state.cpp
  src/coordination/replication_instance_client.cpp
  src/query/interpreter.cpp
  src/replication_coordination_glue/common.hpp
  src/replication_handler/include/replication_handler/replication_handler.hpp
  src/replication_handler/replication_handler.cpp
  tests/e2e/high_availability/distributed_coords.py
  tests/e2e/high_availability/replication_lag.py
  tests/unit/CMakeLists.txt
  tests/unit/coordinator_cluster_state.cpp
  tests/unit/coordinator_utils.cpp
  tests/unit/rpc_versioning.cpp
Labels: feature, Capability - high-availability, Docs needed, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=coverage -test=clang_tidy

#3233 External contribution workflows
  .github/workflows/create_staging_branch.yaml
  .github/workflows/diff.yaml
  .github/workflows/diff_community.yaml
  .github/workflows/diff_coverage.yaml
  .github/workflows/diff_debug.yaml
  .github/workflows/diff_jepsen.yaml
  .github/workflows/diff_malloc.yaml
  .github/workflows/diff_release.yaml
  .github/workflows/external_diff.yaml
  .github/workflows/external_package.yaml
  .github/workflows/package_memgraph.yaml
  tools/external-contributions/create_staging_branch.sh
  tools/external-contributions/get_pr_info.sh
Labels: infrastructure, Docs unnecessary

#3288 Fix flaky e2e triggers tests
  tests/e2e/triggers/triggers_properties_false.py
Labels: Docs unnecessary, CI -build=release -test=e2e

#3292 Stop Docker cleanup script removing new deps container
  tools/docker_cleanup.sh
Labels: infrastructure, Docs unnecessary

#3296 feat: Use absl::flat_hash_map instead of std::map
  src/query/interpret/awesome_memgraph_functions.cpp
Labels: CI -build=community -test=core, CI -build=coverage -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark, CI -build=release -test=query_modules, CI -build=coverage -test=clang_tidy

#3294 feat: Add HA telemetry collectors
  src/coordination/coordinator_instance.cpp
  src/coordination/coordinator_state.cpp
  src/coordination/include/coordination/coordinator_instance.hpp
  src/coordination/include/coordination/coordinator_state.hpp
  src/memgraph.cpp
  src/replication/include/replication/state.hpp
  src/replication/state.cpp
  src/telemetry/telemetry.cpp
  src/telemetry/telemetry.hpp
  src/utils/event_map.cpp
  src/utils/event_map.hpp
  src/utils/system_info.cpp
  src/utils/system_info.hpp
  tests/integration/telemetry/client.cpp
  tests/unit/CMakeLists.txt
  tests/unit/event_map.cpp
  tests/unit/storage_v2_replication.cpp
Labels: feature, Capability - high-availability, Docs - changelog only, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=coverage -test=clang_tidy
