Repository memgraph/memgraph, pull requests merged in 2025-04, with the labels that each got.

#2807 Handle allowed failures in MT Jepsen test
  tests/jepsen/src/memgraph/high_availability/create/test.clj
  tests/jepsen/src/memgraph/mtenancy/test.clj
  tests/jepsen/src/memgraph/utils.clj
Labels: tests, Docs unnecessary

#2846 Bugfix: Concurrent snapshot creation and demotion cause replica to crash on restart
  src/query/interpreter.cpp
  src/replication_handler/replication_handler.cpp
  src/storage/v2/durability/snapshot.cpp
  src/storage/v2/durability/snapshot.hpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  src/utils/timer.hpp
Labels: bug, Docs - changelog only, CI -build=coverage -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e

#2868 Bugfix: Delete datasets folder at the end of copying in HA-MT jepsen workflow
  tests/jepsen/run.sh
Labels: tests, Docs unnecessary

#2869 Eagerly return if registering one of replicas fail upon promotion.
  src/coordination/data_instance_management_server_handlers.cpp
  src/coordination/include/coordination/data_instance_management_server_handlers.hpp
Labels: bug, Capability - high-availability, Docs - changelog only, CI -build=release -test=e2e, jepsen

#2806 Reduce size of TypedValue
  src/query/interpret/awesome_memgraph_functions.cpp
  src/query/interpret/eval.cpp
  src/query/interpret/eval.hpp
  src/query/plan/operator.cpp
  src/query/typed_value.cpp
  src/query/typed_value.hpp
  src/storage/v2/edge_accessor.hpp
  src/storage/v2/property_value.hpp
  src/utils/memory.hpp
  src/utils/pmr/flat_map.hpp
  tests/unit/typed_value.cpp
Labels: Capability - memory management, Docs - changelog only, Code improvements

#2882 Bugfix: Scheduler cannot be paused while executing its function
  src/utils/scheduler.cpp
Labels: bug, Capability - high-availability, Docs - changelog only, jepsen

#2870 Fix graph cleanup in GQL Behave tests
  tests/gql_behave/steps/graph.py
Labels: Docs unnecessary, CI -build=release -test=core

#2878 Bugfix: Cleanup .old directories from durability folder while running Jepsen tests
  .editorconfig
  .github/workflows/stress_ha_jepsen.yaml
  .github/workflows/stress_ha_mt_jepsen.yaml
  tests/jepsen/clean_old_directories.sh
  tests/jepsen/run.sh
Labels: bug, tests, Docs unnecessary

#2880 Use ubuntu 24.04 for (almost) everything
  .github/workflows/diff_community.yaml
  .github/workflows/diff_coverage.yaml
  .github/workflows/diff_debug.yaml
  .github/workflows/diff_release.yaml
  .github/workflows/release_build_test.yaml
  .github/workflows/reusable_release_tests.yaml
  .github/workflows/stress_test_large.yaml
Labels: infrastructure, Docs unnecessary, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark, CI -build=release -test=query_modules, CI -build=malloc -test=build

#2886 Clean .old snapshot directories for MT test
  tests/jepsen/clean_old_directories.sh
Labels: tests, Docs unnecessary

#2812 Improve the failover process in HA when using multitenancy
  src/coordination/coordinator_instance.cpp
  src/coordination/coordinator_rpc.cpp
  src/coordination/include/coordination/coordinator_instance.hpp
  src/coordination/include/coordination/coordinator_rpc.hpp
  src/coordination/include/coordination/coordinator_slk.hpp
  src/coordination/include/coordination/replication_instance_client.hpp
  src/coordination/replication_instance_client.cpp
  src/dbms/replication_handlers.cpp
  src/replication_coordination_glue/common.hpp
  src/replication_handler/include/replication_handler/replication_handler.hpp
  src/replication_handler/replication_handler.cpp
  src/storage/v2/inmemory/storage.cpp
  src/system/include/system/state.hpp
  src/system/include/system/system.hpp
  tests/e2e/high_availability/single_coordinator.py
  tests/unit/coordinator_utils.cpp
Labels: feature, Capability - high-availability, Docs needed

#2790 Query modules memory improvements
  include/mg_procedure.h
  src/query/plan/operator.cpp
  src/query/procedure/mg_procedure_impl.cpp
  src/query/procedure/mg_procedure_impl.hpp
  src/query/procedure/module.cpp
  src/query/stream/streams.cpp
Labels: feature, Docs needed, breaking

#2855 Bugfix: DUMP DATABASE generates the wrong query for ANY triggers
  src/query/dump.cpp
  tests/unit/query_dump.cpp
Labels: bug, Docs - changelog only, CI -build=coverage -test=core, CI -build=release -test=e2e

#2853 utils::Scheduler now skips backed up tasks
  src/utils/scheduler.cpp
  tests/unit/utils_scheduler.cpp
Labels: Docs - changelog only, Code improvements, CI -build=coverage -test=core, CI -build=debug -test=integration, CI -build=release -test=e2e

#2854 Daily Memgraph Build
  .github/workflows/daily_build.yml
  .github/workflows/promote_daily_rc.yml
  .github/workflows/release_build_test.yaml
  .github/workflows/reusable_package.yaml
  .github/workflows/reusable_release_tests.yaml
  release/get_version.py
  tools/aggregate_build_tests.py
  tools/get_daily_commit_hash.py
  tools/get_latest_tag.sh
  tools/trigger_mage_payload.py
Labels: infrastructure, Docs unnecessary

#2850 Bugfix: Missing edge property index and unique constraint garbage collection
  src/storage/v2/indices/indices.hpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/unique_constraints.cpp
  src/storage/v2/inmemory/unique_constraints.hpp
  tests/unit/storage_v2_indices.cpp
Labels: bug, Docs - changelog only, CI -build=coverage -test=core, CI -build=debug -test=integration, CI -build=release -test=e2e

#2893 Fix flaky Kafka consumer test 2
  tests/unit/integrations_kafka_consumer.cpp
Labels: Docs unnecessary, CI -build=coverage -test=core, CI -build=release -test=core

#2837 Test async HA
  .github/workflows/diff_jepsen.yaml
  .github/workflows/stress_ha_jepsen.yaml
  .github/workflows/stress_ha_mt_jepsen.yaml
  .github/workflows/stress_jepsen_ha.yaml
  tests/jepsen/resources/async_cluster.edn
  tests/jepsen/resources/cluster.edn
  tests/jepsen/resources/ha-mt.edn
  tests/jepsen/resources/sync_cluster.edn
  tests/jepsen/src/memgraph/query.clj
Labels: tests, Docs unnecessary

#2798 Extend storage access types to support parallel read only queries
  src/dbms/database.hpp
  src/dbms/inmemory/replication_handlers.cpp
  src/glue/SessionHL.cpp
  src/query/CMakeLists.txt
  src/query/cypher_query_interpreter.cpp
  src/query/cypher_query_interpreter.hpp
  src/query/db_accessor.hpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/semantic/rw_checker.cpp
  src/query/frontend/semantic/rw_checker.hpp
  src/query/interpreter.cpp
  src/query/interpreter.hpp
  src/query/plan/read_write_type_checker.cpp
  src/storage/v2/disk/storage.cpp
  src/storage/v2/disk/storage.hpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  src/storage/v2/storage.cpp
  src/storage/v2/storage.hpp
  src/storage/v2/storage_error.hpp
  src/utils/resource_lock.hpp
  tests/drivers/python/v5_8/create_snapshots.py
  tests/drivers/python/v5_8/impersonate_user.py
  tests/drivers/python/v5_8/run.sh
  tests/drivers/run.sh
  tests/unit/cypher_main_visitor.cpp
  tests/unit/storage_v2_acc.cpp
Labels: feature, Docs needed

#2783 Add OR expressions for labels
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/cypher_main_visitor.hpp
  src/query/frontend/opencypher/grammar/Cypher.g4
  src/query/interpret/eval.hpp
  src/query/plan/operator.hpp
  src/query/plan/preprocess.cpp
  src/query/plan/preprocess.hpp
  src/query/plan/rewrite/index_lookup.hpp
  src/query/plan/rewrite/range.cpp
  src/query/plan/rule_based_planner.hpp
  src/query/plan/variable_start_planner.hpp
  tests/gql_behave/tests/memgraph_V1/features/match.feature
  tests/unit/query_common.hpp
  tests/unit/query_plan.cpp
  tests/unit/query_plan_checker.hpp
  tests/unit/query_plan_operator_to_string.cpp
Labels: feature, Docs needed, CI -build=coverage -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=benchmark

#2897 Convert Jepsen Stress Tests to Use Reusable Workflow
  .github/workflows/reusable_stress_jepsen.yaml
  .github/workflows/stress_jepsen_ha.yaml
Labels: tests, Docs unnecessary

#2898 Disable edge TTL for OnDisk
  src/query/interpreter.cpp
  src/query/time_to_live/time_to_live.cpp
  src/query/time_to_live/time_to_live.hpp
  tests/unit/ttl.cpp
Labels: bug, Docs unnecessary, CI -build=coverage -test=core

#2844 Schema info speed up
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/schema_info.cpp
  src/storage/v2/schema_info.hpp
  src/storage/v2/schema_info_glue.hpp
  src/storage/v2/schema_info_types.hpp
  src/storage/v2/transaction.hpp
  src/storage/v2/vertex_accessor.cpp
  tests/integration/audit/runner.py
  tests/unit/storage_v2_schema_info.cpp
Labels: Docs - changelog only, Code improvements

#2904 Added inputs for manual triggering of Jepsen stress tests
  .github/workflows/stress_jepsen_ha.yaml
Labels: infrastructure, tests, Docs unnecessary

#2908 Stop build tests from failing successfully
  .github/workflows/reusable_release_tests.yaml
Labels: bug, infrastructure

#2887 Composite indices code tidy
  src/query/dump.cpp
  src/query/frontend/ast/ast.cpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/interpreter.cpp
  src/query/plan/cost_estimator.hpp
  src/query/plan/operator.cpp
  src/query/plan/operator.hpp
  src/query/plan/rewrite/edge_index_lookup.hpp
  src/query/plan/rewrite/index_lookup.hpp
  src/query/plan/vertex_count_cache.hpp
  src/storage/v2/CMakeLists.txt
  src/storage/v2/disk/edge_import_mode_cache.cpp
  src/storage/v2/disk/storage.cpp
  src/storage/v2/durability/marker.hpp
  src/storage/v2/durability/serialization.cpp
  src/storage/v2/durability/snapshot.cpp
  src/storage/v2/durability/storage_global_operation.hpp
  src/storage/v2/durability/wal.cpp
  src/storage/v2/indices/indices_utils.hpp
  src/storage/v2/indices/label_property_index.cpp
  src/storage/v2/indices/label_property_index.hpp
  src/storage/v2/inmemory/label_property_index.cpp
  src/storage/v2/inmemory/label_property_index.hpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  src/storage/v2/metadata_delta.hpp
  src/utils/algorithm.hpp
  src/utils/bound.hpp
  src/utils/temporal.hpp
  tests/unit/CMakeLists.txt
  tests/unit/cypher_main_visitor.cpp
  tests/unit/plan_pretty_print.cpp
  tests/unit/query_plan.cpp
  tests/unit/query_plan_checker.hpp
  tests/unit/query_plan_match_filter_return.cpp
  tests/unit/query_plan_operator_to_string.cpp
  tests/unit/storage_test_utils.hpp
  tests/unit/storage_v2_decoder_encoder.cpp
  tests/unit/storage_v2_indices.cpp
  tests/unit/storage_v2_wal_file.cpp
  todo/feature_composite_indices.txt
Labels: feature, Docs unnecessary, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress

#2912 Fix Jepsen release tests
  .github/workflows/reusable_release_tests.yaml
  tests/jepsen/run.sh
Labels: infrastructure, Docs unnecessary

#2911 Use UTC when setting up daily build
  .github/workflows/daily_build.yml
Labels: bug, infrastructure, Docs unnecessary

#2892 Bugfix: Rely (almost) solely on last durable ts
  src/storage/v2/durability/durability.cpp
  src/storage/v2/durability/metadata.hpp
  src/storage/v2/durability/wal.cpp
  src/storage/v2/durability/wal.hpp
  src/storage/v2/inmemory/storage.cpp
Labels: bug, Docs - changelog only

#2903 Bugfix: MT test now runs with 3 data instances
  .github/workflows/reusable_stress_jepsen.yaml
  tests/jepsen/src/memgraph/mtenancy/nemesis.clj
  tests/jepsen/src/memgraph/mtenancy/test.clj
  tests/jepsen/src/memgraph/mtenancy/utils.clj
Labels: tests, Docs unnecessary

#2915 Bugfix: Unreliable authentication deserialization
  src/auth/crypto.cpp
  src/auth/models.cpp
  src/auth/models.hpp
  src/license/license.cpp
  src/license/license.hpp
  tests/unit/CMakeLists.txt
  tests/unit/auth_models.cpp
  tests/unit/auth_models_comm.cpp
Labels: bug, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=debug -test=integration, CI -build=release -test=e2e

#2792 Update the pull request template
  .github/pull_request_template.md
Labels: Docs unnecessary

#2917 Yield Raft leadership
  src/coordination/coordinator_instance.cpp
  src/coordination/coordinator_state.cpp
  src/coordination/include/coordination/coordinator_instance.hpp
  src/coordination/include/coordination/coordinator_state.hpp
  src/coordination/include/coordination/raft_state.hpp
  src/coordination/include/coordination/register_main_replica_coordinator_status.hpp
  src/coordination/raft_state.cpp
  src/dbms/coordinator_handler.cpp
  src/dbms/coordinator_handler.hpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/cypher_main_visitor.hpp
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/frontend/opencypher/grammar/MemgraphCypherLexer.g4
  src/query/frontend/stripped_lexer_constants.hpp
  src/query/interpreter.cpp
  src/query/interpreter.hpp
  src/query/metadata.cpp
  src/query/metadata.hpp
  tests/e2e/high_availability/distributed_coords.py
Labels: feature, Docs needed, CI -build=release -test=e2e

#2925 Increase debug test timeout
  .github/workflows/reusable_release_tests.yaml
Labels: infrastructure, tests, Docs unnecessary

#2920 Improve ResourceLock
  src/utils/resource_lock.hpp
  tests/unit/utils_resource_lock.cpp
Labels: feature, Docs unnecessary, Code improvements

#2910 Improve perf around snapshot
  src/coordination/raft_state.cpp
  src/kvstore/kvstore.cpp
  src/query/context.hpp
  src/query/interpreter.cpp
  src/query/plan/operator.cpp
  src/query/plan/scoped_profile.hpp
  src/storage/v2/all_vertices_iterable.cpp
  src/storage/v2/durability/serialization.cpp
  src/storage/v2/durability/serialization.hpp
  src/storage/v2/durability/snapshot.cpp
  src/storage/v2/durability/wal.hpp
  src/storage/v2/indices/vector_index.cpp
  src/storage/v2/inmemory/edge_property_index.cpp
  src/storage/v2/inmemory/edge_type_index.cpp
  src/storage/v2/inmemory/edge_type_property_index.cpp
  src/storage/v2/inmemory/label_index.cpp
  src/storage/v2/inmemory/label_property_index.cpp
  src/storage/v2/inmemory/replication/recovery.cpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  src/storage/v2/inmemory/unique_constraints.cpp
  src/storage/v2/replication/replication_storage_state.hpp
  src/storage/v2/storage.hpp
  src/storage/v2/vertex_accessor.cpp
  src/utils/counter.hpp
  src/utils/file.cpp
  src/utils/file.hpp
  src/utils/memory_tracker.cpp
  src/utils/memory_tracker.hpp
  src/utils/skip_list.hpp
  tests/e2e/durability/periodic_snapshot.py
  tests/e2e/replication/switching_roles.py
  tests/e2e/runner.py
  tests/unit/counter.cpp
  tests/unit/storage_v2_decoder_encoder.cpp
  tests/unit/storage_v2_durability_inmemory.cpp
  tests/unit/storage_v2_replication.cpp
Labels: feature, Docs needed

#2928 Remove large arm runner
  .github/workflows/reusable_package.yaml
Labels: infrastructure, Docs unnecessary

#2929 Fix reliability for resource lock
  src/utils/resource_lock.hpp
  tests/unit/utils_resource_lock.cpp
Labels: Docs unnecessary

#2907 Add support for routing policy enabled_reads_on_main
  src/coordination/CMakeLists.txt
  src/coordination/coordinator_cluster_state.cpp
  src/coordination/coordinator_instance.cpp
  src/coordination/coordinator_log_store.cpp
  src/coordination/coordinator_state.cpp
  src/coordination/coordinator_state_machine.cpp
  src/coordination/data_instance_context.cpp
  src/coordination/include/coordination/constants.hpp
  src/coordination/include/coordination/coordinator_cluster_state.hpp
  src/coordination/include/coordination/coordinator_communication_config.hpp
  src/coordination/include/coordination/coordinator_instance.hpp
  src/coordination/include/coordination/coordinator_ops_status.hpp
  src/coordination/include/coordination/coordinator_state.hpp
  src/coordination/include/coordination/coordinator_state_machine.hpp
  src/coordination/include/coordination/raft_state.hpp
  src/coordination/include/coordination/replication_instance_connector.hpp
  src/coordination/raft_state.cpp
  src/dbms/coordinator_handler.cpp
  src/dbms/coordinator_handler.hpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/cypher_main_visitor.hpp
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/interpreter.cpp
  src/query/interpreter.hpp
  tests/e2e/high_availability/distributed_coords.py
  tests/unit/coordinator_cluster_state.cpp
  tests/unit/coordinator_log_store.cpp
  tests/unit/coordinator_raft_log_serialization.cpp
  tests/unit/coordinator_raft_state.cpp
  tests/unit/coordinator_state_machine.cpp
Labels: feature, Docs needed, CI -build=coverage -test=core, CI -build=debug -test=core, CI -build=release -test=e2e
