Repository memgraph/memgraph, pull requests merged in 2025-03, with the labels that each got.

#2578 Extend stress test configuration options
  release/package/mgbuild.sh
  tests/stress/README.md
  tests/stress/bipartite.py
  tests/stress/configurations/deployments/binary_ha.sh
  tests/stress/configurations/deployments/binary_standalone.sh
  tests/stress/configurations/templates/config_ha.yaml
  tests/stress/configurations/templates/config_large.yaml
  tests/stress/configurations/templates/config_small.yaml
  tests/stress/configurations/templates/config_ssl.yaml
  tests/stress/configurations/workloads/deadlock/show_replicas_deadlock.yaml
  tests/stress/configurations/workloads/performance/supernode_edge_abort.yaml
  tests/stress/continuous_integration
  tests/stress/create_match.py
  tests/stress/detach_delete.py
  tests/stress/durability
  tests/stress/memory_limit.py
  tests/stress/memory_tracker.py
  tests/stress/requirements.txt
  tests/stress/test_config.py
  tests/stress/workers.py
Labels: feature, Docs unnecessary, customer, CI -build=release -test=stress

#2699 Increase GitHub Action Runner Timeouts
  .github/workflows/diff_coverage.yaml
  .github/workflows/reusable_release_tests.yaml
Labels: Docs unnecessary, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark

#2757 `SHOW VECTOR INDEX INFO` query
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/opencypher/grammar/Cypher.g4
  src/query/frontend/semantic/required_privileges.cpp
  src/query/interpreter.cpp
  tests/gql_behave/tests/memgraph_V1/features/vector_search.feature
Labels: feature, Capability - procedures, Docs needed, customer, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark, CI -build=release -test=query_modules

#2762 Extend mgp utility with vertices and edges count info
  include/_mgp.hpp
  include/mg_procedure.h
  src/query/db_accessor.hpp
  src/query/procedure/mg_procedure_impl.cpp
  src/storage/v2/disk/storage.hpp
  src/storage/v2/inmemory/storage.hpp
  src/storage/v2/storage.hpp
Labels: Docs unnecessary, CI -build=release -test=core

#2759 Adapt vector search to be possible for floats and ints
  src/query/procedure/mg_procedure_impl.cpp
  tests/gql_behave/tests/memgraph_V1/features/vector_search.feature
Labels: bug, community, Docs needed, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark, CI -build=release -test=query_modules

#2741 Add rewrite for planning inside `OPTIONAL`
  src/query/plan/planner.hpp
  src/query/plan/rewrite/plan_validator.hpp
  src/query/plan/rule_based_planner.hpp
  tests/e2e/query_planning/CMakeLists.txt
  tests/e2e/query_planning/common.py
  tests/e2e/query_planning/query_planning_optional.py
  tests/e2e/query_planning/workloads.yaml
  tests/unit/query_variable_start_planner.cpp
Labels: bug, community, Docs - changelog only, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark, CI -build=release -test=query_modules

#2734 increase test timeout
  .github/workflows/diff_debug.yaml
Labels: Docs unnecessary, CI -build=debug -test=core

#2727 Bugfix: force reset causes data loss and deletion of durability files in HA environment
  .github/workflows/stress_jepsen.yaml
  src/dbms/inmemory/replication_handlers.cpp
  src/dbms/inmemory/replication_handlers.hpp
  src/replication_handler/include/replication_handler/replication_handler.hpp
  src/rpc/client.hpp
  src/storage/v2/durability/durability.cpp
  src/storage/v2/inmemory/replication/recovery.cpp
  src/storage/v2/inmemory/replication/recovery.hpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/replication/replication_client.cpp
  src/storage/v2/replication/replication_client.hpp
  src/storage/v2/replication/replication_transaction.hpp
  src/storage/v2/replication/rpc.cpp
  src/storage/v2/replication/rpc.hpp
  tests/e2e/high_availability/CMakeLists.txt
  tests/e2e/high_availability/common.py
  tests/e2e/high_availability/durability.py
  tests/e2e/high_availability/workloads.yaml
  tests/unit/replication_rpc_progress.cpp
Labels: bug, Docs needed

#2742 Implement impersonate user
  src/auth/models.cpp
  src/auth/models.hpp
  src/glue/SessionHL.cpp
  src/glue/SessionHL.hpp
  src/glue/auth.cpp
  src/glue/auth_checker.cpp
  src/glue/auth_checker.hpp
  src/glue/auth_handler.cpp
  src/glue/auth_handler.hpp
  src/glue/query_user.cpp
  src/glue/query_user.hpp
  src/query/auth_checker.hpp
  src/query/auth_query_handler.hpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/cypher_main_visitor.hpp
  src/query/frontend/opencypher/grammar/MemgraphCypher.g4
  src/query/frontend/opencypher/grammar/MemgraphCypherLexer.g4
  src/query/interpreter.cpp
  src/query/query_user.hpp
  tests/drivers/python/v5_8/impersonate_user.py
  tests/drivers/python/v5_8/run.sh
  tests/e2e/lba_procedures/show_privileges.py
  tests/unit/auth.cpp
  tests/unit/auth_checker.cpp
  tests/unit/query_common.hpp
  tests/unit/query_required_privileges.cpp
  tests/unit/query_streams.cpp
  tests/unit/query_trigger.cpp
Labels: feature, Docs needed

#2767 Rename newly added count mgp functions for better clarity
  include/_mgp.hpp
  include/mg_procedure.h
  src/query/procedure/mg_procedure_impl.cpp
Labels: feature, Docs unnecessary

#2659 Add toSet function
  src/query/interpret/awesome_memgraph_functions.cpp
  tests/e2e/awesome_functions/CMakeLists.txt
  tests/e2e/awesome_functions/to_set.py
  tests/e2e/awesome_functions/workloads.yaml
Labels: feature, community, Docs needed, customer, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark, CI -build=release -test=query_modules

#2769 Optimise EdgeAccessor::IsVisible
  src/storage/v2/edge_accessor.cpp
Labels: bug, performance optimization, Docs - changelog only, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=benchmark, CI -build=release -test=query_modules

#2768 Add MT logs, handle json parsing exceptions
  src/auth/replication_handlers.cpp
  src/coordination/coordinator_instance_management_server_handlers.cpp
  src/coordination/coordinator_log_store.cpp
  src/coordination/coordinator_state_machine.cpp
  src/coordination/coordinator_state_manager.cpp
  src/coordination/data_instance_management_server_handlers.cpp
  src/dbms/inmemory/replication_handlers.cpp
  src/dbms/replication_handlers.cpp
  src/io/network/endpoint.cpp
  src/replication/replication_server.cpp
  src/replication_handler/system_replication.cpp
  src/rpc/utils.hpp
  src/storage/v2/replication/replication_client.cpp
  tests/unit/coordinator_log_store.cpp
  tests/unit/coordinator_state_machine.cpp
Labels: Docs unnecessary, Code improvements

#2779 Bugfix: Storage access timeout allowed everywhere
  src/dbms/database.hpp
  src/query/interpreter.cpp
  src/storage/v2/disk/storage.cpp
  src/storage/v2/disk/storage.hpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/inmemory/storage.hpp
  src/storage/v2/storage.cpp
  src/storage/v2/storage.hpp
  tests/unit/storage_v2_acc.cpp
Labels: bug, Docs unnecessary, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress

#2781 Ci timezone fix
  .github/workflows/release_build_test.yaml
  environment/os/debian-11.sh
  environment/os/debian-12.sh
  environment/os/ubuntu-22.04.sh
  environment/os/ubuntu-24.04.sh
  release/docker/v5_deb.dockerfile
  release/docker/v5_deb_relwithdebinfo.dockerfile
  release/docker/v6_deb.dockerfile
Labels: bug, Docs unnecessary, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=debug -test=core, CI -build=release -test=core, CI -build=release -test=e2e

#2793 Update BSL license change date for v3.1.0
  licenses/BSL.txt
Labels: Docs unnecessary

#2780 Bugfix: prevent main from crashing while recovering replica due to disk failures
  src/dbms/inmemory/replication_handlers.cpp
  src/dbms/rpc.hpp
  src/rpc/messages.hpp
  src/rpc/server.hpp
  src/storage/v2/inmemory/replication/recovery.cpp
  src/storage/v2/inmemory/replication/recovery.hpp
  src/storage/v2/replication/replication_client.cpp
  src/storage/v2/replication/rpc.hpp
  src/storage/v2/replication/serialization.cpp
  src/storage/v2/replication/serialization.hpp
  tests/unit/replication_rpc_progress.cpp
Labels: bug, Docs - changelog only, CI -build=coverage -test=core, CI -build=release -test=core, CI -build=release -test=e2e

#2800 Fix HA drivers test for node js
  tests/drivers/node/v5_8/read_routing.js
  tests/drivers/node/v5_8/write_routing.js
  tests/drivers/run_cluster.sh
Labels: tests, Docs unnecessary, Code improvements

#2796 Malloc release build
  .github/workflows/diff.yaml
  .github/workflows/diff_malloc.yaml
  .github/workflows/package_memgraph.yaml
  .github/workflows/promote_rc_release.yml
  .github/workflows/release_build_test.yaml
  .github/workflows/reusable_package.yaml
  .github/workflows/reusable_release_tests.yaml
  tools/diff_setup.py
Labels: Docs unnecessary, CI -build=malloc -test=build

#2770 Bugfix: Avoid throwing in slk when a buffer isn't read fully
  src/coordination/data_instance_management_server_handlers.cpp
  src/dbms/inmemory/replication_handlers.cpp
  src/io/network/endpoint.cpp
  src/replication/include/replication/epoch.hpp
  src/replication/status.cpp
  src/rpc/protocol.cpp
  src/slk/streams.cpp
  src/slk/streams.hpp
  src/storage/v2/durability/durability.cpp
  src/storage/v2/durability/durability.hpp
  src/storage/v2/inmemory/storage.cpp
  src/storage/v2/replication/replication_client.cpp
  src/utils/uuid.hpp
  tests/jepsen/run.sh
  tests/jepsen/src/memgraph/core.clj
  tests/unit/slk_streams.cpp
  tests/unit/storage_v2_durability_inmemory.cpp
Labels: bug, Docs - changelog only, CI -build=coverage -test=core

#2773 Add noinline and cold to MG_ASSERT
  src/utils/logging.hpp
Labels: Docs unnecessary, Code improvements

#2794 Add update queries to MT Jepsen test
  tests/jepsen/src/memgraph/mtenancy/test.clj
  tests/jepsen/src/memgraph/mtenancy/utils.clj
  tests/jepsen/src/memgraph/query.clj
  tests/jepsen/src/memgraph/utils.clj
Labels: tests, Docs unnecessary

#2801 Bugfix: remove checking bolt endpoint when adding coordinators
  src/coordination/coordinator_instance.cpp
  src/coordination/include/coordination/register_main_replica_coordinator_status.hpp
  src/query/interpreter.cpp
  tests/e2e/high_availability/coord_cluster_registration.py
Labels: bug, Docs needed

#2716 fix: Support pattern comprehensions nested within lists
  src/query/frontend/semantic/symbol_generator.cpp
  src/query/plan/preprocess.hpp
  tests/gql_behave/tests/memgraph_V1/features/list_comprehension.feature
  tests/gql_behave/tests/memgraph_V1/features/pattern_comprehensions.feature
Labels: bug, Docs - changelog only, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark, CI -build=release -test=query_modules

#2799 SSO improvements
  src/auth/reference_modules/oidc.py
  src/auth/reference_modules/saml.py
  tests/e2e/sso/test_oidc.py
  tests/e2e/sso/test_saml_sso_module.py
  tests/setup.sh
Labels: feature, Capability - security, enterprise, Docs - changelog only

#2816 Bugfix: Prevent deadlock on data instance
  src/dbms/inmemory/replication_handlers.cpp
  src/io/network/addrinfo.cpp
  src/io/network/endpoint.cpp
  src/io/network/socket.cpp
  src/io/network/socket.hpp
  src/rpc/protocol.cpp
  tests/jepsen/src/memgraph/core.clj
Labels: bug, Docs - changelog only, CI -build=coverage -test=core

#2820 Bugfix: Broken migration from old durable auth data
  src/auth/models.cpp
Labels: bug, Docs - changelog only

#2656 Add list comprehension
  src/query/frontend/ast/ast.cpp
  src/query/frontend/ast/ast.hpp
  src/query/frontend/ast/ast_visitor.hpp
  src/query/frontend/ast/cypher_main_visitor.cpp
  src/query/frontend/ast/pretty_print.cpp
  src/query/frontend/opencypher/grammar/Cypher.g4
  src/query/frontend/opencypher/parser.hpp
  src/query/frontend/semantic/symbol_generator.cpp
  src/query/frontend/semantic/symbol_generator.hpp
  src/query/frontend/stripped.cpp
  src/query/interpret/eval.hpp
  src/query/plan/preprocess.hpp
  src/query/plan/rewrite/enum.hpp
  src/query/plan/rule_based_planner.cpp
  src/utils/typeinfo.hpp
  tests/gql_behave/tests/memgraph_V1/features/list_comprehension.feature
  tests/gql_behave/tests/memgraph_V1/features/pattern_comprehensions.feature
  tests/integration/transactions/tester.cpp
  tests/unit/cypher_main_visitor.cpp
  tests/unit/query_common.hpp
  tests/unit/query_semantic.cpp
Labels: feature, community, Docs needed, customer, CI -build=community -test=core, CI -build=coverage -test=core, CI -build=jepsen -test=core, CI -build=debug -test=core, CI -build=debug -test=integration, CI -build=release -test=core, CI -build=release -test=e2e, CI -build=release -test=stress, CI -build=release -test=benchmark, CI -build=release -test=query_modules

#2817 Bugfix: Handle properly network resolution failures
  src/communication/bolt/client.cpp
  src/communication/listener.hpp
  src/communication/server.hpp
  src/coordination/coordinator_instance_connector.cpp
  src/io/network/addrinfo.cpp
  src/io/network/addrinfo.hpp
  src/io/network/endpoint.cpp
  src/io/network/endpoint.hpp
  src/io/network/socket.cpp
  src/rpc/client.hpp
  src/storage/v2/replication/replication_client.cpp
  tests/concurrent/network_read_hang.cpp
  tests/concurrent/network_server.cpp
  tests/e2e/high_availability/rpc_comm.cpp
  tests/e2e/replication/constraints.cpp
  tests/e2e/replication/indices.cpp
  tests/e2e/replication/read_write_benchmark.cpp
Labels: bug, Docs - changelog only

#2829 Add xmlsec to requirements for auth modules
  src/auth/reference_modules/requirements.txt
Labels: bug

#2828 Save logs from GQL behave tests on CI
  .github/workflows/diff_release.yaml
  release/package/mgbuild.sh
  tests/gql_behave/continuous_integration
Labels: Docs unnecessary, CI -build=release -test=core, CI -build=release -test=query_modules

#2826 Bugfix: Timeout for SwapMainUUIDReq wasn't configured properly
  src/dbms/inmemory/replication_handlers.cpp
  src/dbms/inmemory/replication_handlers.hpp
  src/replication_coordination_glue/messages.cpp
  src/rpc/client.hpp
  src/storage/v2/replication/rpc.cpp
  src/storage/v2/replication/rpc.hpp
  tests/unit/CMakeLists.txt
  tests/unit/replication_rpc_progress.cpp
  tests/unit/rpc_timeouts.cpp
Labels: bug, Docs unnecessary

#2831 Storage access timeout as a command line parameter
  src/flags/CMakeLists.txt
  src/flags/storage_access.cpp
  src/flags/storage_access.hpp
  src/query/interpreter.cpp
  tests/e2e/configuration/default_config.py
Labels: feature, Docs - changelog only, CI -build=coverage -test=core, CI -build=release -test=e2e

#2802 Support HA coordinator counters as delta counters
  src/flags/coord_flag_env_handler.cpp
  src/flags/coord_flag_env_handler.hpp
  src/http_handlers/metrics.hpp
Labels: feature, Docs needed
