Repository memgraph/memgraph, pull requests merged in 2025-10, with the labels that each got.

#3312 Update authorized query error message.
  src/query/interpreter.cpp
  tests/integration/auth/runner.py
  tests/integration/fine_grained_access/runner.py
Labels: customer, CI -build=release -test=e2e

#3319 Move container hosts
  release/package/amd-builders-v5.yml
  release/package/amd-builders-v6.yml
  release/package/arm-builders-v5.yml
  release/package/arm-builders-v6.yml
Labels: infrastructure, Docs unnecessary, CI -build=release -test=core, CI -build=release -test=benchmark

#3320 Add push to github option back into package memgraph workflow
  .github/workflows/package_memgraph.yaml
  tools/package_setup.py
Labels: infrastructure, Docs unnecessary

#3326 Do not rename packages if RC workflow runs from master
  .github/workflows/reusable_package.yaml
Labels: infrastructure, Docs unnecessary
