Repository memgraph/memgraph, changes with the owners that CODEOWNERS names for each.
All owners: @gitbuda, @antonio2368, @the-joksim

CODEOWNERS:

/docs/ @gitbuda
/src/communication/ @antonio2368
/src/query/ @the-joksim
/src/storage/ @antonio2368

Add docs examples as driver tests (#29)
  tests/drivers/.gitignore
  tests/drivers/csharp/v4_1/Basic/Program.cs
  tests/drivers/csharp/v4_1/DocsHowToQuery/DocsHowToQuery.csproj
  tests/drivers/csharp/v4_1/DocsHowToQuery/Program.cs
  tests/drivers/csharp/v4_1/run.sh
  tests/drivers/go/v4/basic.go
  tests/drivers/go/v4/docs_how_to_query.go
  tests/drivers/go/v4/run.sh
  tests/drivers/java/v4_1/Basic.java
  tests/drivers/java/v4_1/DocsHowToQuery.java
  tests/drivers/java/v4_1/run.sh
  tests/drivers/javascript/README.md
  tests/drivers/javascript/docs_how_to_query.html
  tests/drivers/javascript/setup.sh
  tests/drivers/node/v1/basic.js
  tests/drivers/node/v1/max_query_length.js
  tests/drivers/node/v1/run.sh
  tests/drivers/node/v4_1/docs_how_to_query.js
  tests/drivers/node/v4_1/max_query_length.js
  tests/drivers/node/v4_1/run.sh
  tests/drivers/python/v4_1/basic.py
  tests/drivers/python/v4_1/docs_how_to_query.py
  tests/drivers/python/v4_1/run.sh
Owners: none

Add docs examples as driver tests (#29)
  tests/drivers/.gitignore
  tests/drivers/csharp/v4_1/Basic/Program.cs
  tests/drivers/csharp/v4_1/DocsHowToQuery/DocsHowToQuery.csproj
  tests/drivers/csharp/v4_1/DocsHowToQuery/Program.cs
  tests/drivers/csharp/v4_1/run.sh
  tests/drivers/go/v4/basic.go
  tests/drivers/go/v4/docs_how_to_query.go
  tests/drivers/go/v4/run.sh
  tests/drivers/java/v4_1/Basic.java
  tests/drivers/java/v4_1/DocsHowToQuery.java
  tests/drivers/java/v4_1/run.sh
  tests/drivers/javascript/README.md
  tests/drivers/javascript/docs_how_to_query.html
  tests/drivers/javascript/setup.sh
  tests/drivers/node/v1/basic.js
  tests/drivers/node/v1/max_query_length.js
  tests/drivers/node/v1/run.sh
  tests/drivers/node/v4_1/docs_how_to_query.js
  tests/drivers/node/v4_1/max_query_length.js
  tests/drivers/node/v4_1/run.sh
  tests/drivers/python/v4_1/basic.py
  tests/drivers/python/v4_1/docs_how_to_query.py
  tests/drivers/python/v4_1/run.sh
Owners: none

Add DISCARD fix to the CHANGELOG
  CHANGELOG.md
Owners: none

Good catch
  CHANGELOG.md
Owners: none

Add DISCARD fix to the CHANGELOG (#32)
  CHANGELOG.md
Owners: none

Add DISCARD fix to the CHANGELOG (#32)
  CHANGELOG.md
Owners: none

Add DISCARD fix to the CHANGELOG (#32)
  CHANGELOG.md
Owners: none

Add toolchain-v2 for Ubuntu 20.04
  environment/build_toolchain-v1.sh
  environment/build_toolchain-v2.sh
  init
  libs/CMakeLists.txt
  libs/setup.sh
  query_modules/louvain/src/data_structures/graph.cpp
  query_modules/louvain/src/louvain_module.cpp
Owners: none

Fix CentOS8 init packages
  init
Owners: none

Update GHA Diff workflow
  .github/workflows/diff.yaml
Owners: none

Add gflags to the list of rocksdb dependencies
  libs/CMakeLists.txt
Owners: none

Fix dangling reference
  src/rpc/client.hpp
Owners: none

Add docs for the dangling reference in lambda captures
  docs/dev/cpp-code-conventions.md
Owners: @gitbuda

Replace MG_REPLICATION with MG_ENTERPRISE
  src/storage/v2/CMakeLists.txt
  src/storage/v2/storage.cpp
  src/storage/v2/storage.hpp
  tests/unit/CMakeLists.txt
Owners: @antonio2368

Add test for every possible delta type
  tests/unit/storage_v2_replication.cpp
Owners: none
